body {
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Arial,sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}


#tree {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
	float: left;
	overflow: auto;
	width: 300px;
	background: #fff;
}

#pageProperties {
	border: 1px solid #ccc;
	
	position: fixed;
	top: 10px;
	right: 10px;
}

#treePopup {
	display: none;
}

#createPageForm {
    display: none;
}

.ui-widget #createPageForm form label{
    margin-top: 15px;
}

.ui-widget #createPageForm input {
	width: 270px;
}

.error {
	display: none;
}


#sideBar {
    position: fixed;
    top: 10px;
    left: 10px;
	
}

#controlls ul {
    list-style-type: none;
    padding: 10px 10px 0 10px;
}

#controlls li {
    cursor: pointer;
    float: left;	
    margin-right: 15px;
}

form label {
    display: block;
    font-weight: bold;
    color: #797979;
    margin-bottom: 4px;
    font-size: 12px;
}

form label.small {
    display: inline;
    font-weight: normal;
    color: #797979;
    font-size: 12px;
}

form p.field {
	margin-bottom: 15px;
}

form .error {
    background-color: #FFF5E1;
    border: 1px solid #EFA6A7;
    color: #E73031;
    padding: 4px;
    width: 492px;
    margin-bottom: 2px;
    display: none;    	
}

.ui-widget form input,
.ui-widget form textarea {
    border: 1px solid #C0C0C0;
    margin-bottom: 2px;
    text-align: left;
    vertical-align: middle;
    width: 500px; 
    font-size: 12px;
}


.ui-widget form input.stdModBox {
    width: auto;	
}


.linkList {
    margin: 2px;
    margin-bottom: -2px; 	
}


.ui-widget form .submit {
	background-color: #FCEAC9;
    border: 1px solid #FFBB44;
    color: #264971;
    height: 22px;
    padding-left: 5px;
    padding-right: 5px;	
    width: auto;
    font-weight: bold;
}