.ipModuleDesignConfig .modal-dialog {
    left: 10px;
    position: fixed;
    top: 10px;
    width: 350px;
}
.ipModuleDesignConfig .modal-header {
    cursor: move;
}
.ipModuleDesignConfig .modal-body {
    overflow: auto;
}
.ipModuleDesignConfig .modal-footer {
    margin-top: 0;
}
