/*Common backend design styles. Suggested to use in all modules backend area*/

body{
  background-color: #fbfcfc;
  font-family: Verdana, Arial, Tahoma;
  font-size: 12px;
}


.clear{
  clear: both;
}


h1{
  color:#3C64C8;
  font-size:18px;
  line-height:20px;
  text-decoration:none;
}

h2{
  color:#3C64C8;
  font-size:12px;
  line-height:20px;
  text-decoration:none;
}


a.button{
	color: #264971;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 12px;
	padding: 3px 10px;
	margin-right: 7px;
	border: #ffbb44 1px solid;
	float: left;
	background: url(images/button.gif);
	text-decoration: none;
	cursor: pointer; 
}


a.button:hover{
 background-image: none;
 background-color: #f6e0b5;
}



div.hideSubmit{
  width: 0;
  height: 0;
  overflow: hidden;
}



/*forms*/

div.content div.libPhpFormField,
div.content div.libPhpFormFieldError{
  padding-bottom: 17px;
  display: block;
}

div.content div.libPhpFormButton{
	color: #264971;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	font-size: 12px;
	padding: 3px 10px;
	margin-right: 7px;
	border: #ffbb44 1px solid;
	float: left;
	background: url(images/button.gif);
	text-decoration: none;
	cursor: pointer; 
}

div.content div.libPhpFormButton:hover{
 background-image: none;
 background-color: #f6e0b5;
}

div.content div.libPhpFormCaption{
  font-family: Arial, Verdana, Tahoma;
  font-size: 12px;
  color:#595959;
  font-weight: bold;  
  text-align: left;
  padding-top: 3px;
  padding-right: 10px;
  display: block;
  width: 250px;  
  margin-bottom: 10px;
}

div.content div.libPhpFormFieldError  div.libPhpFormCaption{
}


div.content div.libPhpFormInput{
  float: left;
  width: 215px;
  text-align: left;
  padding-right: 10px;
}

div.content div.libPhpFormInput input, 
div.content div.libPhpFormInput textarea
{
  width:215px;
  border: 1px solid #cecece;
}

div.content  div.libPhpFormFieldError div.libPhpFormInput input,
div.content  div.libPhpFormFieldError div.libPhpFormInput textarea{
  border: 1px solid #e53031;
}



div.content div.libPhpFormInput textarea{
  width: 215px;
  height: 125px;
}

div.content div.libPhpFormInput select{
  width:215px;
}


div.content div.libPhpFormHint{
  float: left;
  display: none;
  background: transparent url(images/hint_cursor.gif) scroll no-repeat left 3px;
  width: 10px;
  height: 17px;
}


div.content div.libPhpFormHint div{
  float: left;
  width:225px;
  z-index: 3;
  position: absolute;
  background-color: #f4f6f7;
  padding: 8px;
  margin-left: 10px;
  
  font-family: Arial, Verdana, Tahoma;
  font-size: 12px;
  color: #00a8da;
  line-height: 17px;
}


div.content div.libPhpFormError{
  font-family: Arial, Verdana, Tahoma;
  font-size: 12px;
  color: #e53031;
  float: left;
  clear: both;
}


div.content div.libPhpFormNote{
  font-family: Arial, Verdana, Tahoma;
  font-size: 12px;
  color: #8b8a8a;
  float: left;
  clear: both;
}

div.content div.libPhpFormInput input.checkbox{
  border: none;
  width: auto;
}

div.content  div.libPhpFormFieldError div.libPhpFormInput input.checkbox{
  outline: #e53031 solid 1px;
}


/*eof forms*/