/* Common backend design styles. Suggested to use in all modules backend area */
body {
    background-color: #fbfcfc;
    font-family: Verdana, Arial, Tahoma;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
h1 {
    color: #3C64C8;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}
h2 {
    color: #3C64C8;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
}
a.button {
    color: #264971;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 10px;
    margin-right: 7px;
    border: #ffbb44 1px solid;
    float: left;
    background: url(images/button.gif);
    text-decoration: none;
    cursor: pointer;
}
a.button:hover {
    background-image: none;
    background-color: #f6e0b5;
}
div.hideSubmit {
    width: 0;
    height: 0;
    overflow: hidden;
}

/* forms */
div.content div.libPhpFormField,div.content div.libPhpFormFieldError {
    padding-bottom: 17px;
    display: block;
}
div.content div.libPhpFormButton {
    color: #264971;
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 10px;
    margin-right: 7px;
    border: #ffbb44 1px solid;
    float: left;
    background: url(images/button.gif);
    text-decoration: none;
    cursor: pointer;
}
div.content div.libPhpFormButton:hover {
    background-image: none;
    background-color: #f6e0b5;
}
div.content div.libPhpFormCaption {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #595959;
    font-weight: bold;
    text-align: left;
    padding-top: 3px;
    padding-right: 10px;
    display: block;
    width: 250px;
    margin-bottom: 10px;
}
div.content div.libPhpFormFieldError  div.libPhpFormCaption {}
div.content div.libPhpFormInput {
    float: left;
    width: 215px;
    text-align: left;
    padding-right: 10px;
}
div.content div.libPhpFormInput input,div.content div.libPhpFormInput textarea
    {
    width: 215px;
    border: 1px solid #cecece;
}
div.content  div.libPhpFormFieldError div.libPhpFormInput input,div.content  div.libPhpFormFieldError div.libPhpFormInput textarea
    {
    border: 1px solid #e53031;
}
div.content div.libPhpFormInput textarea {
    width: 215px;
    height: 125px;
}
div.content div.libPhpFormInput select {
    width: 215px;
}
div.content div.libPhpFormHint {
    float: left;
    display: none;
    width: 10px;
    height: 17px;
}
div.content div.libPhpFormHint div {
    float: left;
    width: 225px;
    z-index: 3;
    position: absolute;
    background-color: #f4f6f7;
    padding: 8px;
    margin-left: 10px;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #00a8da;
    line-height: 17px;
}
div.content div.libPhpFormError {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #e53031;
    float: left;
    clear: both;
}
div.content div.libPhpFormNote {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #8b8a8a;
    float: left;
    clear: both;
}
div.content div.libPhpFormInput input.checkbox {
    border: none;
    width: auto;
}
div.content  div.libPhpFormFieldError div.libPhpFormInput input.checkbox {
    outline: #e53031 solid 1px;
}

/* valid from 2.0 */

/* global */
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
.ipgClear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* navigation area */
.ipAdminNav {
    background-color: #2f313f;
    border-bottom: 1px solid #000;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 71px;
    min-width: 860px;
    width: 100%;
}
.ipAdminNav a {
    color: #c0c0c0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
}
.ipAdminNav a:hover {
    color: #fff;
}
.ipAdminNavActions {
    float: right;
}
.ipAdminNavActions a {
    background: url(images/icons_actions.png) no-repeat right top;
    display: inline-block;
    line-height: 29px;
    margin-right: 17px;
    padding-right: 22px;
}
.ipAdminNavActions .ipaLogout {
    background-position: right 0;
}
.ipAdminNavActions .ipaLogout:hover {
    background-position: right -29px;
}
.ipAdminNavActions .ipaHelp {
    background-position: right -58px;
}
.ipAdminNavActions .ipaHelp:hover {
    background-position: right -87px;
}
.ipAdminNavActions .ipaNotice {
    background-position: right -116px;
}
.ipAdminNavActions .ipaNotice:hover {
    background-position: right -145px;
}
.ipAdminNavLinks > ul {
    border-bottom: 1px solid #000;
    height: 29px;
    list-style: none;
    padding-left: 8px;
}
.ipAdminNavLinks > ul > li {
    float: left;
}
.ipAdminNavLinks > ul > li > a {
    border-color: transparent;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    float: left;
    line-height: 29px;
    padding: 0 17px;
}
.ipAdminNavLinks > ul > .ipaActive > a,
.ipAdminNavLinks > ul > .ipaActive > a:hover {
    background-color: #f90;
    border-color: #22232d;
    color: #000;
    font-weight: bold;
    text-shadow: none;
}
.ipAdminNavLinks ul ul {
    display: none;
    left: 8px;
    list-style: none;
    position: absolute;
    top: 38px;
}
.ipAdminNavLinks > ul > .ipaActive > ul {
    display: block;
}
.ipAdminNavLinks ul ul li {
    display: inline-block;
    margin-right: 5px;
}
.ipAdminNavLinks ul ul a {
    border-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    display: inline-block;
    line-height: 25px;
    padding: 0 10px;
}
.ipAdminNavLinks ul ul a:hover {
    background-color: #444653;
}
.ipAdminNavLinks ul ul .ipaActive a,
.ipAdminNavLinks ul ul .ipaActive a:hover {
    background-color: #fff;
    border-color: #000;
    border-radius: 0;
    color: #000;
    font-weight: bold;
    margin-top: -2px;
    padding-bottom: 8px;
    padding-top: 2px;
    text-shadow: none;
}
