
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [L]


#Modified rules for 1and1 hosting
#AddHandler x-mapp-php5.4 .php3 .php4 .php .phtml
#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php?%{QUERY_STRING} [L]



#Additional options to extend server limits. Commented out as might not work on some hosts
#php_value upload_max_filesize 1000M
#php_value post_max_size 1000M
#php_value memory_limit 100M

