<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [L]

#    Redirect www urls to non-www.
#    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# Disable directory listing (highly recommended). Commented out as might not work on some hosts
# Options -Indexes

# Disable accessing files without extension (recommended). Commented out as might not work on some hosts
# Options -MultiViews

#Modified rules for 1and1 hosting
#AddHandler x-mapp-php5.4 .php3 .php4 .php .phtml
#RewriteEngine on
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php?%{QUERY_STRING} [L]



#Additional options to extend server limits. Commented out as might not work on some hosts
#php_value upload_max_filesize 1000M
#php_value post_max_size 1000M
#php_value memory_limit 100M

