#php_value upload_max_filesize 1000M
#php_value post_max_size 1000M
#php_value memory_limit 100M


RewriteEngine on

#RewriteRule ^ip_themes/lt_pagan/less/(.*)[.]css /works.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?%{QUERY_STRING} [L]
