/**
 * ImpressPages CMS theme: LT pagan
 *
 * Styles file for widgets, system modules and content
 *
 * @package ImpressPages
 *
 */
/* http://sonspring.com/journal/clearing-floats */
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
/* covered by default styles */
.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix {
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after {
  clear: both;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
.signature {
  font-style: italic;
}
.note {
  border-left: 2px solid #747474;
  display: block;
  font-style: italic;
  margin-bottom: 2em;
  padding-left: 1em;
}
.button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
}
.ipWidget {
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
  margin-bottom: 20px;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.ipPreviewWidget {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.ipPreviewWidget h1,
.ipPreviewWidget h2,
.ipPreviewWidget h3,
.ipPreviewWidget h4,
.ipPreviewWidget h5,
.ipPreviewWidget h6,
.ipPreviewWidget img,
.ipPreviewWidget blockquote,
.ipPreviewWidget p,
.ipPreviewWidget ul,
.ipPreviewWidget ol,
.ipPreviewWidget li,
.ipPreviewWidget dl,
.ipPreviewWidget dd,
.ipPreviewWidget dt,
.ipPreviewWidget pre {
  border: none;
  margin: 0;
  padding: 0;
}
.ipPreviewWidget h1 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
}
.ipPreviewWidget h2 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.ipPreviewWidget h3 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
.ipPreviewWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 2em 1em;
}
.ipPreviewWidget ol {
  list-style-position: inside;
  margin: 0 0 2em 1em;
}
.ipPreviewWidget p {
  line-height: 1.5;
  margin-bottom: 2em;
}
.ipPreviewWidget ul ul,
.ipPreviewWidget ol ol {
  margin-bottom: 0;
}
.ipPreviewWidget li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.ipPreviewWidget p+ul,
.ipPreviewWidget p+ol {
  margin-top: -1em;
}
.ipPreviewWidget a {
  color: #019bd4;
  text-decoration: none;
}
.ipPreviewWidget a:hover {
  text-decoration: underline;
}
.ipPreviewWidget table {
  border-collapse: collapse;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
}
.ipPreviewWidget table p {
  line-height: auto;
  margin: 0;
}
.ipPreviewWidget td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 14px;
  padding: 9px;
}
.ipPreviewWidget th,
.ipPreviewWidget thead td,
.ipPreviewWidget tbody tr:first-child td {
  font-size: 14px;
  font-weight: bold;
}
.ipPreviewWidget thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
.ipPreviewWidget p:last-child,
.ipPreviewWidget ul:last-child,
.ipPreviewWidget ol:last-child {
  margin-bottom: 0;
}
.ipModuleForm form,
.ipModuleForm fieldset,
.ipModuleForm label {
  border: none;
  margin: 0;
  padding: 0;
}
.ipModuleForm input,
.ipModuleForm select,
.ipModuleForm textarea,
.ipModuleForm option {
  font-family: 14px;
  font-size: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.ipModuleForm .ipmPage {
  max-width: 100%;
  overflow: auto;
}
.ipModuleForm .ipmField {
  margin-bottom: 20px;
  position: relative;
  /*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
  zoom: 1;
}
.ipModuleForm .ipmField:before,
.ipModuleForm .ipmField:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmField:after {
  clear: both;
}
.ipModuleForm .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleForm .ipmType-blank {
  margin: -20px 0 0;
  position: absolute;
}
.ipModuleForm .ipmLabel {
  display: block;
  font-weight: bold;
  margin: 0 0 3px 0;
  min-height: 1px;
}
.ipModuleForm .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmControlInput {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlInput:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlTextarea {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  overflow: auto;
}
.ipModuleForm .ipmControlTextarea:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlSelect {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlSelect:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmType-confirm .ipmControlCheckbox {
  float: left;
}
.ipModuleForm .ipmControlConfirmOptions {
  margin-left: 25px;
}
.ipModuleForm .ipmType-captcha .ipmControl img {
  display: block;
  max-width: 100%;
}
.ipModuleForm .ipmNote {
  color: #333333;
  font-size: 12px;
}
.ipModuleForm .ipmHint {
  background-color: #747474;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.ipModuleForm .ipmField:hover .ipmHint {
  display: block;
}
.ipModuleForm .ipmControlSubmit {
  background: #019bd4;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
}
.ipModuleForm .ipmControlSubmit:hover {
  box-shadow: 0 0 0 1px #019bd4 inset;
  background: #01516e;
}
.ipModuleForm .ipmControlError {
  border-color: #b80000;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFile {
  background-color: #a7a7a7;
  margin-top: 5px;
  padding: 0.5em;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove {
  cursor: pointer;
  float: right;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:before {
  border: 1px solid #747474;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #000;
  content: '\00D7';
  display: inline-block;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:hover:before {
  background-color: #000;
  color: #fff;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgress {
  border: 1px solid #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgressValue {
  background-color: #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmUploadError {
  color: #b80000;
  font-size: 12px;
}
.ipmErrorMessage {
  background-color: #b80000;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px 2px;
}
.mceContentBody {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fff;
}
.mceContentBody .caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
.mceContentBody .signature {
  font-style: italic;
}
.mceContentBody .note {
  border-left: 2px solid #747474;
  display: block;
  font-style: italic;
  margin-bottom: 2em;
  padding-left: 1em;
}
.mceContentBody .button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
}
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6,
.mceContentBody img,
.mceContentBody blockquote,
.mceContentBody p,
.mceContentBody ul,
.mceContentBody ol,
.mceContentBody li,
.mceContentBody dl,
.mceContentBody dd,
.mceContentBody dt,
.mceContentBody pre {
  border: none;
  margin: 0;
  padding: 0;
}
.mceContentBody h1 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 36px;
}
.mceContentBody h2 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}
.mceContentBody h3 {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
}
.mceContentBody ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 2em 1em;
}
.mceContentBody ol {
  list-style-position: inside;
  margin: 0 0 2em 1em;
}
.mceContentBody p {
  line-height: 1.5;
  margin-bottom: 2em;
}
.mceContentBody ul ul,
.mceContentBody ol ol {
  margin-bottom: 0;
}
.mceContentBody li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.mceContentBody p+ul,
.mceContentBody p+ol {
  margin-top: -1em;
}
.mceContentBody a {
  color: #019bd4;
  text-decoration: none;
}
.mceContentBody a:hover {
  text-decoration: underline;
}
.mceContentBody table {
  border-collapse: collapse;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
}
.mceContentBody table p {
  line-height: auto;
  margin: 0;
}
.mceContentBody td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 14px;
  padding: 9px;
}
.mceContentBody th,
.mceContentBody thead td,
.mceContentBody tbody tr:first-child td {
  font-size: 14px;
  font-weight: bold;
}
.mceContentBody thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
.mceContentBody p:last-child,
.mceContentBody ul:last-child,
.mceContentBody ol:last-child {
  margin-bottom: 0;
}
.ipWidget-IpFaq {
  padding-left: 30px;
}
.ipWidget-IpFaq .ipwQuestion {
  color: #000;
  cursor: pointer;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-decoration: none;
}
.ipWidget-IpFaq .ipwQuestion:hover {
  text-decoration: underline;
}
.ipWidget-IpFaq .ipwQuestion:hover:before {
  background-color: #f3f3f3;
}
.ipWidget-IpFaq .ipwQuestion:before {
  border: 1px solid #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  content: '?';
  display: block;
  margin: 3px 0 0 -30px;
  padding: 1px 2px;
  position: absolute;
}
.ipWidget-IpFaq .ipwQuestion .ipwAnswer {
  margin-top: 5px;
}
.ipWidget-IpFaq .ipwQuestion .ipwCollapsed .ipwAnswer {
  display: none;
}
.ipWidget-IpFaq .ipwExpanded .ipwQuestion:before {
  background-color: #000;
  color: #fff;
}
.ipWidget-IpFile ul {
  list-style: none;
  margin-left: 0;
}
.ipWidget-IpFile a {
  color: #019bd4;
  font-weight: bold;
}
.ipWidget-IpFile a:hover {
  text-decoration: underline;
}
.ipWidget-IpForm {
  /* mimicking the same styles as for form to keep message 'inside' the box */
}
.ipWidget-IpForm .ipwSuccess {
  border: 1px solid #888;
  display: none;
  padding: 20px 25px;
}
.ipWidget-IpHtml {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpImage img {
  /* to remove 3px space below the image (default rendering behavior) */
  display: block;
  max-width: 100%;
}
.ipWidget-IpImageGallery {
  margin-bottom: 0px;
}
.ipWidget-IpImageGallery img {
  /* to remove 3px space below the image (default rendering behavior) */
  display: block;
  max-width: 100%;
}
.ipWidget-IpImageGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpImageGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpImageGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpImageGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpImageGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpLogoGallery {
  margin-bottom: 0px;
}
.ipWidget-IpLogoGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpLogoGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpLogoGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpLogoGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpLogoGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpRichText pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpSeparator.ipLayout-default {
  border-bottom: 1px solid #747474;
  height: 0;
  overflow: hidden;
}
.ipWidget-IpSeparator.ipLayout-space {
  height: 25px;
}
.ipWidget-IpTable {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpTextImage .ipwImage {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}
.ipWidget-IpTextImage.ipLayout-right .ipwImage {
  float: right;
  margin: 0 0 20px 20px;
}
.ipWidget-IpTitle {
  margin-bottom: 10px;
  padding-top: 10px;
}
.ipWidget-IpTitle:first-child {
  padding-top: 0;
}
