/**
 *
 * ImpressPages CMS theme: LT pagan
 *
 * Main style file for structure, global styles.
 * Integrated together with 12 column 960 grid system (960.css)
 *
 * @package ImpressPages
 */

/*
    Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px 50px 150px;
    font-size: 13px;
    text-align: left;
    background: #ddd;
}
input, select, textarea, option, table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: 14px;
}
address {
    font-style: normal;
}

/*
    Global
*/
.clear {
    clear: both;
}
/*
    Structure
*/
.content {
    background-color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 12px 0;
    padding: 0 20px;
    width: 960px;
    margin: auto; /* crossbrowser way to center */
}






/*.menu .ul {*/
    /*display: inline-block;*/
/*}*/
/*ul li {*/
    /*display: inline-block;*/
/*}*/
/*ul li a {*/
    /*padding: 5px 20px;*/
    /*background-color: #fff;*/
/*}*/
.topmenu {
    width: 960px;
    margin: auto; /* crossbrowser way to center */
}

.topmenu ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.topmenu ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.topmenu ul li a {
    color: #000;
}
.topmenu ul li:hover {
    background: #555;
    color: #fff;
}
.topmenu ul li:hover a {
    color: #fff;
}
.topmenu ul li ul {
    /* QuickStart theme doesn't support more than one level deep menu */
    display: none;
}
