/**
 *
 * ImpressPages CMS theme: LT pagan
 *
 * Main style file for structure, global styles.
 * Integrated together with 12 column 960 grid system (960.css)
 *
 * @package ImpressPages
 */

/*
    Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px;
    font-size: 14px;
    background: #ddd;
}
input, select, textarea, option, table {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: 14px;
}


/*
    Global
*/
.clear {
    clear: both;
}
/*
    Structure
*/
.content {
    clear: both;
    background-color: #fff;
    padding: 20px;
    width: 540px;
    margin: auto; /* crossbrowser way to center */
    border-top: 1px solid #ddd;
}


.topmenu {
    width: 580px;
    margin: auto;  /*crossbrowser way to center*/
}


.topmenu ul
{
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
    float: left;
}

.topmenu li
{
    float: left;
    list-style-type: none;
}

.topmenu a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    display: block;
    border-right: 1px solid #ddd;
}

.topmenu a
{
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

.topmenu a:hover
{
    background: #555;
    color: #fff;
}

.topmenu ul li ul {
     QuickStart theme doesn't support more than one level deep menu
    display: none;
}
