.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after {
  clear: both;
}
.ipWidget {
  zoom: 1;
  margin-bottom: 25px;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.ipPreviewWidget h1,
.ipPreviewWidget h2,
.ipPreviewWidget h3 {
  font-family: Georgia, serif;
}
.ipPreviewWidget h1 {
  color: #000;
  font-size: 36px;
}
.ipPreviewWidget h2 {
  color: #000;
  font-size: 28px;
}
.ipPreviewWidget h3 {
  color: #000;
  font-size: 22px;
}
.ipPreviewWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 20px 15px;
}
.ipPreviewWidget ol {
  list-style-position: inside;
  margin: 0 0 20px 15px;
}
.ipPreviewWidget p {
  line-height: 24px;
  margin-bottom: 20px;
}
.ipPreviewWidget ul ul,
.ipPreviewWidget ol ol {
  margin-bottom: 0;
}
.ipPreviewWidget li {
  line-height: 24px;
  margin-bottom: 4px;
}
.ipPreviewWidget p+ul,
.ipPreviewWidget p+ol {
  margin-top: -20px;
}
.ipPreviewWidget a {
  color: #b52718;
}
.ipPreviewWidget a:hover {
  text-decoration: underline;
}
.ipPreviewWidget .caption {
  color: #333;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 28px;
}
.ipPreviewWidget .signature {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
}
.ipPreviewWidget .note {
  color: #333;
  display: block;
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0 30px 25px;
}
.ipPreviewWidget table {
  border-collapse: collapse;
  color: #000;
  font-size: 11px;
  width: 100%;
}
.ipPreviewWidget table p {
  line-height: auto;
  margin: 0;
}
.ipPreviewWidget td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 11px;
  padding: 9px;
  text-align: center;
}
.ipPreviewWidget th,
.ipPreviewWidget thead td,
.ipPreviewWidget tbody tr:first-child td {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.ipPreviewWidget thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #b2b2b2;
  color: inherit;
  font-size: 12px;
  font-weight: normal;
}
.ipPreviewWidget td:first-child {
  text-align: left;
}
.ipPreviewWidget p:last-child,
.ipPreviewWidget ul:last-child,
.ipPreviewWidget ol:last-child {
  margin-bottom: 0;
}
.ipModuleForm {
  border: 1px solid #888;
  padding: 20px 25px;
}
.ipModuleForm .ipmField {
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
}
.ipModuleForm .ipmField:before,
.ipModuleForm .ipmField:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmField:after {
  clear: both;
}
.ipModuleForm .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleForm .ipmType-blank {
  margin: -16px 0 0;
  position: absolute;
}
.ipModuleForm .ipmLabel {
  display: block;
  font-weight: bold;
  float: left;
  margin: 0 10px 0 0;
  min-height: 1px;
  padding-top: 3px;
  width: 85px;
}
.ipModuleForm .ipmControl {
  float: left;
  width: 393px;
}
.ipModuleForm .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmControlInput {
  background-color: #f2f2f2;
  border: 1px solid #a7a7a7;
  height: 21px;
  padding: 1px 2px;
  width: 185px;
}
.ipModuleForm .ipmControlInput:focus {
  border-color: #000;
}
.ipModuleForm .ipmControlTextarea {
  background-color: #f2f2f2;
  border: 1px solid #a7a7a7;
  display: block;
  height: 9.5em;
  padding: 1px 2px;
  overflow: auto;
  width: 387px;
}
.ipModuleForm .ipmControlTextarea:focus {
  border-color: #000;
}
.ipModuleForm .ipmControlSubmit {
  background: #f4f4f4;
  background: -moz-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(100%,#d1d1d1));
  background: -webkit-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -o-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -ms-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d1d1d1',GradientType=0);
  border: 1px solid #a7a7a7;
  color: #333;
  cursor: pointer;
  float: left;
  height: 25px;
  line-height: 25px;
  padding: 0 6px;
}
.ipModuleForm .ipmControlSubmit:hover {
  background: #e1e0e0;
  background: -moz-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e0e0),color-stop(100%,#d6d4d4));
  background: -webkit-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -o-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -ms-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e0e0',endColorstr='#d6d4d4',GradientType=0);
  box-shadow: 0 0 3px 0 #fff inset;
}
.ipModuleForm .ipmControlSelect {
  background-color: #f2f2f2;
  border: 1px solid #a7a7a7;
  height: 25px;
  padding: 2px;
  width: 191px;
}
.ipModuleForm .ipmType-confirm .ipmControlCheckbox {
  float: left;
}
.ipModuleForm .ipmControlConfirmOptions {
  margin-left: 25px;
}
.ipModuleForm .ipmNote {
  color: #656565;
  font-size: 11px;
  margin: -15px 0 0 95px;
  position: absolute;
}
.ipModuleForm .ipmHint {
  background-color: #a7a7a7;
  color: #fff;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-height: 16px;
  padding: 5px 10px 4px;
  position: absolute;
  right: 0;
  width: 181px;
  z-index: 1;
}
.ipmField:hover .ipModuleForm .ipmHint {
  display: block;
}
.ipmType-textarea .ipModuleForm .ipmHint {
  bottom: 0;
  left: 95px;
  margin-bottom: -25px;
  max-width: 393px;
  right: auto;
  width: auto;
}
.ipModuleForm .ipmError .ipmLabel {
  color: #e44445;
}
.ipModuleForm .ipmControlError {
  border-color: #e44445;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFileProgress {
  border: 1px solid #333;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile {
  background-color: #f2f2f2;
  margin-top: 5px;
  padding: 5px;
}
.ipModuleForm .ipmFileContainer .ipmFileProgressValue {
  background-color: #ccc;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmRemove {
  width: 13px;
  height: 13px;
  background: url(../../img/file_remove.png) no-repeat;
  float: right;
  cursor: pointer;
}
.ipModuleForm .ipmFileContainer .ipmUploadError {
  color: #da0001;
  font-size: 11px;
}
.ipmErrorMessage {
  background-color: #292126;
  color: #da0001;
  font-size: 11px;
}
.ipWidget-IpFaq {
  padding-left: 30px;
}
.ipWidget-IpFaq .ipwQuestion {
  color: #333;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 18px;
  text-decoration: none;
}
.ipWidget-IpFaq .ipwQuestion:hover {
  text-decoration: underline;
}
.ipWidget-IpFaq .ipwQuestion:hover:before {
  background-color: #f3f3f3;
}
.ipWidget-IpFaq .ipwQuestion:before {
  border: 1px solid #000;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #333;
  content: '?';
  display: block;
  margin: 3px 0 0 -30px;
  padding: 1px 2px;
  position: absolute;
}
.ipWidget-IpFaq .ipwQuestion .ipwAnswer {
  margin-top: 5px;
}
.ipWidget-IpFaq .ipwQuestion .ipwCollapsed .ipwAnswer {
  display: none;
}
.ipWidget-IpFaq .ipwExpanded .ipwQuestion:before {
  background-color: #000;
  color: #fff;
}
.ipWidget-IpFile ul {
  list-style: none;
  margin-left: 0;
}
.ipWidget-IpFile li {
  background: url(../../../img/icon_download.gif) no-repeat left center;
  margin-bottom: 4px;
  padding-left: 25px;
}
.ipWidget-IpFile a {
  color: #b52718;
  font-weight: bold;
}
.ipWidget-IpFile a:hover {
  text-decoration: underline;
}
.ipWidget-IpForm .ipwSuccess {
  border: 1px solid #888;
  display: none;
  padding: 20px 25px;
}
.ipWidget-IpImage img {
  display: block;
}
.ipWidget-IpImageGallery img {
  display: block;
}
.ipWidget-IpImageGallery ul {
  list-style: none;
  margin: -20px 0 0 -20px;
}
.ipWidget-IpImageGallery li {
  float: left;
  margin: 20px 0 0 20px;
  max-width: 50%;
}
.ipWidget-IpImageGallery li img {
  border: 1px solid #888;
  display: block;
  max-width: 100%;
  padding: 2px;
}
.ipWidget-IpImageGallery li a:hover img {
  border-color: #000;
}
.ipWidget-IpLogoGallery ul {
  list-style: none;
  margin: -20px 0 0 -20px;
}
.ipWidget-IpLogoGallery li {
  float: left;
  margin: 20px 0 0 20px;
  max-width: 50%;
}
.ipWidget-IpLogoGallery li img {
  border: 1px solid #888;
  display: block;
  max-width: 100%;
  padding: 2px;
}
.ipWidget-IpLogoGallery li a:hover img {
  border-color: #000;
}
.ipWidget-IpSeparator.ipLayout-default {
  border-bottom: 1px dotted #000;
  height: 0;
  overflow: hidden;
}
.ipWidget-IpSeparator.ipLayout-space {
  height: 25px;
}
.ipWidget-IpTextImage .ipwImage {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}
.ipWidget-IpTextImage.ipLayout-right .ipwImage {
  float: right;
  margin: 0 0 20px 20px;
}
body {
  min-width: 960px;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10,
.push_11,
.pull_11 {
  position: relative;
}
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
.container_12 .grid_1 {
  width: 60px;
}
.container_12 .grid_2 {
  width: 140px;
}
.container_12 .grid_3 {
  width: 220px;
}
.container_12 .grid_4 {
  width: 300px;
}
.container_12 .grid_5 {
  width: 380px;
}
.container_12 .grid_6 {
  width: 460px;
}
.container_12 .grid_7 {
  width: 540px;
}
.container_12 .grid_8 {
  width: 620px;
}
.container_12 .grid_9 {
  width: 700px;
}
.container_12 .grid_10 {
  width: 780px;
}
.container_12 .grid_11 {
  width: 860px;
}
.container_12 .grid_12 {
  width: 940px;
}
.container_12 .prefix_1 {
  padding-left: 80px;
}
.container_12 .prefix_2 {
  padding-left: 160px;
}
.container_12 .prefix_3 {
  padding-left: 240px;
}
.container_12 .prefix_4 {
  padding-left: 320px;
}
.container_12 .prefix_5 {
  padding-left: 400px;
}
.container_12 .prefix_6 {
  padding-left: 480px;
}
.container_12 .prefix_7 {
  padding-left: 560px;
}
.container_12 .prefix_8 {
  padding-left: 640px;
}
.container_12 .prefix_9 {
  padding-left: 720px;
}
.container_12 .prefix_10 {
  padding-left: 800px;
}
.container_12 .prefix_11 {
  padding-left: 880px;
}
.container_12 .suffix_1 {
  padding-right: 80px;
}
.container_12 .suffix_2 {
  padding-right: 160px;
}
.container_12 .suffix_3 {
  padding-right: 240px;
}
.container_12 .suffix_4 {
  padding-right: 320px;
}
.container_12 .suffix_5 {
  padding-right: 400px;
}
.container_12 .suffix_6 {
  padding-right: 480px;
}
.container_12 .suffix_7 {
  padding-right: 560px;
}
.container_12 .suffix_8 {
  padding-right: 640px;
}
.container_12 .suffix_9 {
  padding-right: 720px;
}
.container_12 .suffix_10 {
  padding-right: 800px;
}
.container_12 .suffix_11 {
  padding-right: 880px;
}
.container_12 .push_1 {
  left: 80px;
}
.container_12 .push_2 {
  left: 160px;
}
.container_12 .push_3 {
  left: 240px;
}
.container_12 .push_4 {
  left: 320px;
}
.container_12 .push_5 {
  left: 400px;
}
.container_12 .push_6 {
  left: 480px;
}
.container_12 .push_7 {
  left: 560px;
}
.container_12 .push_8 {
  left: 640px;
}
.container_12 .push_9 {
  left: 720px;
}
.container_12 .push_10 {
  left: 800px;
}
.container_12 .push_11 {
  left: 880px;
}
.container_12 .pull_1 {
  left: -80px;
}
.container_12 .pull_2 {
  left: -160px;
}
.container_12 .pull_3 {
  left: -240px;
}
.container_12 .pull_4 {
  left: -320px;
}
.container_12 .pull_5 {
  left: -400px;
}
.container_12 .pull_6 {
  left: -480px;
}
.container_12 .pull_7 {
  left: -560px;
}
.container_12 .pull_8 {
  left: -640px;
}
.container_12 .pull_9 {
  left: -720px;
}
.container_12 .pull_10 {
  left: -800px;
}
.container_12 .pull_11 {
  left: -880px;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after,
.container_12:after {
  clear: both;
}
.clearfix,
.container_12 {
  zoom: 1;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
img,
blockquote,
form,
fieldset,
label,
p,
ul,
ol,
li,
dl,
dd,
dt {
  border: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: #292126;
  color: #333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
input,
select,
textarea,
option,
table {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-size: 14px;
}
address {
  font-style: normal;
}
.left {
  float: left;
}
.right {
  float: right;
}
.wrapper {
  background-color: #fff;
  border-color: #e1311f;
  border-style: solid;
  border-width: 12px 0;
  padding: 0 20px;
}
.wrapper > header {
  margin-bottom: 50px;
}
.wrapper > footer {
  border-top: 2px solid #000;
  color: #333;
  font-size: 12px;
  margin: 40px -20px 0;
  padding: 12px 20px;
}
.logo {
  margin: 25px 0;
  display: block;
  float: left;
  max-width: 620px;
}
.logo a {
  color: #333;
  font-family: Georgia, serif;
  font-size: 45px;
  font-weight: bold;
}
.languages {
  float: right;
  margin-top: 14px;
}
.languages ul {
  list-style: none;
}
.languages li {
  border-left: 1px solid #fff;
  float: left;
}
.languages li:first-child {
  border: none;
}
.languages a {
  color: #737373;
  padding: 5px 10px;
}
.languages .current a,
.languages a:hover {
  color: #333;
}
.wrapper > header .banner {
  clear: both;
  display: block;
}
.boxImage {
  width: 220px;
  overflow: hidden;
}
.breadcrumb {
  font-size: 12px;
  margin-bottom: 15px;
}
.breadcrumb a {
  color: #333;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
.wrapper > footer a {
  color: #b52718;
}
.wrapper > footer a:hover {
  text-decoration: underline;
}
.wrapper.Light {
  background-color: #ffffdd;
}
.wrapper.Dark {
  background-color: #c5c5c5;
}
.topmenu {
  background-color: #e1311f;
  font-size: 13px;
  padding: 1px 0 0 15px;
}
.topmenu ul {
  list-style: none;
}
.topmenu .level1 > li {
  float: left;
  margin-right: 1px;
  position: relative;
}
.topmenu .level1 > li > a {
  color: #440f09;
  display: inline-block;
  font-weight: bold;
  line-height: 34px;
  padding: 0 20px;
}
.topmenu .level1 > li:hover > a,
.topmenu .level1 > li > a:hover {
  background-color: #e75a4c;
}
.topmenu .level1 > .current > a,
.topmenu .level1 > .selected > a {
  background-color: #fff;
}
.topmenu li:hover > ul {
  display: block;
}
.topmenu .level1 ul {
  background-color: #e1311f;
  display: none;
  font-size: 12px;
  margin: -1px 0 0 -1px;
  min-width: 100%;
  padding: 2px 0;
  position: absolute;
  z-index: 10;
}
.topmenu .level2 ul {
  margin-left: 100%;
  min-width: 0;
  top: 0;
}
.topmenu .level2 ul li {
  position: relative;
}
.topmenu .level2 a {
  color: #440f09;
  display: block;
  padding: 9px 22px;
  white-space: nowrap;
}
.topmenu .level2 a:hover {
  background-color: #e75a4c;
}
.topmenu .level2 .subnodes > a:after {
  content: '\25BC';
  position: absolute;
  right: 5px;
}
.topmenu .level2 .current a {
  text-decoration: underline;
}
.side nav {
  font-size: 12px;
  margin-bottom: 25px;
}
.side nav ul {
  list-style: none;
}
.side nav a {
  border-top: 1px solid #9e9e9e;
  color: #1a1a1a;
  display: block;
  padding: 10px 20px;
}
.side nav a:hover {
  background-color: #f3f3f3;
}
.side nav .current > a {
  background-color: #000;
  color: #fff;
}
.side nav.collapse .level1 ul {
  display: none;
}
.side nav.collapse .current ul,
.side nav.collapse .selected ul {
  display: block;
}
.side nav.collapse .level1 .subnodes > a {
  background-image: url(../img/icon_right.gif);
  background-position: 8px center;
  border-bottom: none;
}
.side nav.collapse .level1 .subnodes.current > a,
.side nav.collapse .level1 .subnodes.selected > a {
  background-image: url(../img/icon_down.gif);
  background-position: 5px center;
  border-bottom: 1px solid #9e9e9e;
}
.side .level1 {
  border-bottom: 1px solid #9e9e9e;
}
.side .level1 > li > a {
  font-weight: bold;
}
.side .level1 .subnodes > a {
  background-image: url(../img/icon_down.gif);
  background-position: 5px center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #9e9e9e;
}
.side .level1 > .selected > a {
  background-color: #f3f3f3;
}
.side .level1 ul {
  margin-left: 20px;
}
.side .level1 ul > li > a {
  border-top-color: #fff;
}
.side .level1 ul > li:first-child > a {
  border-top: none;
}
.ipModuleSearch {
  clear: right;
  float: right;
  margin-top: 20px;
}
.ipModuleSearch .ipmField {
  float: left;
}
.ipModuleSearch .ipmControlInput {
  border: 1px solid #b3b3b3;
  box-shadow: 0 1px 2px -1px #b3b3b3 inset;
  float: left;
  height: 21px;
  padding: 1px 2px;
  width: 160px;
}
.ipModuleSearch .ipmControlInput:focus {
  box-shadow: none;
}
.ipModuleSearch .ipmControlSubmit {
  background: #f4f4f4;
  background: -moz-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f4f4f4),color-stop(100%,#d1d1d1));
  background: -webkit-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -o-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: -ms-linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  background: linear-gradient(top,#f4f4f4 0%,#d1d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#d1d1d1',GradientType=0);
  border: 1px solid #a7a7a7;
  color: #333;
  cursor: pointer;
  float: left;
  height: 25px;
  line-height: 25px;
  padding: 0 6px;
  margin-left: 5px;
  text-transform: uppercase;
}
.ipModuleSearch .ipmControlSubmit:hover {
  background: #e1e0e0;
  background: -moz-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1e0e0),color-stop(100%,#d6d4d4));
  background: -webkit-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -o-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: -ms-linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  background: linear-gradient(top,#e1e0e0 0%,#d6d4d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e0e0',endColorstr='#d6d4d4',GradientType=0);
  box-shadow: 0 0 3px 0 #fff inset;
}
