/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-impresspages li,
.jstree-impresspages ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-impresspages li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-impresspages li.jstree-last { background:transparent; }
.jstree-impresspages .jstree-open > ins { background-position:-72px 0; }
.jstree-impresspages .jstree-closed > ins { background-position:-54px 0; }
.jstree-impresspages .jstree-leaf > ins { background-position:-36px 0; }

.jstree-impresspages .jstree-hovered { background:transparent; color: #000; border:none;}
.jstree-impresspages .jstree-clicked { background:#fff; color: #000; border:none; font-weight: bold;}
.jstree-impresspages a .jstree-icon { background-position:-56px -19px; }
.jstree-impresspages a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-impresspages.jstree-focused { background:transparent; }

.jstree-impresspages .jstree-no-dots li,
.jstree-impresspages .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-impresspages .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-impresspages .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-impresspages .jstree-no-icons a .jstree-icon { display:none; }

.jstree-impresspages .jstree-search { font-style:italic; }

.jstree-impresspages .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-impresspages .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-impresspages .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-impresspages .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-impresspages .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-impresspages .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-impresspages .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-impresspages .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-impresspages ins { background:transparent !important; }
#vakata-dragged.jstree-impresspages .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-impresspages .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-impresspages { background:url("d.png") -41px -57px no-repeat !important; }

.jstree-impresspages a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-impresspages-context,
#vakata-contextmenu.jstree-impresspages-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-impresspages-context li { }
#vakata-contextmenu.jstree-impresspages-context a { color:black; }
#vakata-contextmenu.jstree-impresspages-context a:hover,
#vakata-contextmenu.jstree-impresspages-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-impresspages-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-impresspages-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-impresspages-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-impresspages-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-impresspages li,
.jstree-impresspages ins,
#vakata-dragged.jstree-impresspages .jstree-invalid,
#vakata-dragged.jstree-impresspages .jstree-ok,
#jstree-marker.jstree-impresspages { _background-image:url("d.gif"); }
.jstree-impresspages .jstree-open ins { _background-position:-72px 0; }
.jstree-impresspages .jstree-closed ins { _background-position:-54px 0; }
.jstree-impresspages .jstree-leaf ins { _background-position:-36px 0; }
.jstree-impresspages a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-impresspages-context ins { _display:none; }
#vakata-contextmenu.jstree-impresspages-context li { _zoom:1; }
.jstree-impresspages .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-impresspages .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-impresspages .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */

/* New */
.jstree li {
    position: relative;
}
.jstree a {
    color: #46495e;
    display: block;
    height: auto;
    line-height: 1.428571429;
    overflow: hidden;
    padding: 10px 20px;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
}
.jstree a:hover {
    color: #000;
    text-decoration: none;
}
.jstree ins {
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    left: 2px;
    position: absolute;
    top: 10px;
    width: 18px;
}
.jstree ins:hover {
    background-color: #d3d3d3;
    border-color: #c8c8c8;
}
/*.jstree-impresspages > ul > li {*/
    /*background: none; *//* hiding first level of icons */
/*}*/
/*.jstree-impresspages > ul > li > ins {*/
    /*display: none; *//* hiding first level of icons */
/*}*/
