/*
    global
*/
.ipAdminWizardTip {
    background-color: #000;
    border: 1px solid #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    padding: 7px 30px 7px 7px;
    position: absolute;
    white-space: nowrap;
    z-index: 999; /* just below admin panel */
}
#ipAdminWizardTip-dragWidget,
#ipAdminWizardTip-publish {
    z-index: 10000; /* on top of everything */
}
.ipAdminWizardTip p {
    margin: 0;
}
.ipAdminWizardTip .ipaClose {
    color: #fff;
    margin: -1px;
    position: absolute;
    right: 0;
    top: 0;
}
.ipAdminWizardTip .ipaClose:before {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: inherit;
    content: '\00D7';
    display: inline-block;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
}
.ipAdminWizardTip .ipaClose:hover {
    background-color: #fff;
    color: #000;
}
.ipAdminWizardTip .ipaArrowTop,
.ipAdminWizardTip .ipaArrowRight,
.ipAdminWizardTip .ipaArrowBottom,
.ipAdminWizardTip .ipaArrowLeft {
    border-color: transparent;
    border-style: solid;
    border-width: 12px;
    height: 0;
    position: absolute;
    width: 0;
}
.ipAdminWizardTip .ipaArrowTop {
    border-bottom-color: #000;
    border-top-width: 0;
    margin-top: -13px;
    left: 25px;
    top: 0;
}
.ipAdminWizardTip .ipaArrowRight {
    border-left-color: #000;
    border-right-width: 0;
    margin-right: -13px;
    margin-top: -4px;
    right: 0;
}
.ipAdminWizardTip .ipaArrowBottom {
    border-bottom-width: 0;
    border-top-color: #000;
    bottom: 0;
    margin-bottom: -13px;
    left: 25px;
}
.ipAdminWizardTip .ipaArrowLeft {
    border-left-width: 0;
    border-right-color: #000;
    left: 0;
    margin-left: -13px;
    margin-top: -4px;
}
#ipAdminWizardTip-publish .ipaArrowTop {
    left: auto;
    right: 25px;
}
.ipWizardExposeContent {
    background-color: #fff;
}
