// Clearing floated elements
// DO NOT REMOVE! They are reused in multiple places and required for system to function properly
.clear { /* http://sonspring.com/journal/clearing-floats */
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix { /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    &:before, &:after {
        content: '.';
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
        width: 0;
    }
    &:after {
        clear: both;
    }
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
    zoom: 1;
}


// Global styles mostly used in rich text editor
.caption {
    color: @ipTextColor;
    font-family: @ipFontFamilyAlternative;
    font-size: @ipFontSizeBig;
}
.signature {
    font-style: italic;
}
.note {
    border-left: 2px solid @ipBorderColor;
    display: block;
    font-style: italic;
    margin-bottom: @ipSpaceText;
    padding-left: @ipSpaceElement;
}
.button {
    background-color: @ipLinkColor;
    border-radius: 5px; // TODOx: make a configurable option
    color: @ipTextColorInverted;
    display: inline-block;
    padding: (@ipSpaceElement / 2) @ipSpaceElement;
    text-decoration: none;
}

// Global styles for all widgets
.ipWidget {
    .clearfix;

    margin-bottom: @ipSpaceGlobal;

    &:last-child {
        margin-bottom: 0;
    }

}

// Global styles for all widgets that are in preview mode
.ipPreviewWidget {

    // disabling default styles
    h1, h2, h3, h4, h5, h6, img, blockquote, p, ul, ol, li, dl, dd, dt, pre {
        border: none;
        margin: 0;
        padding: 0;
    }

    color: @ipTextColor;
    font-family: @ipFontFamily;
    font-size: @fontSize;


    h1, h2, h3 {
        font-family: @ipFontFamilyHeadlines;
    }

    h1 {
        font-size: (@ipFontSizeBig * 1.5);
    }
    h2 {
        font-size: (@ipFontSizeBig * 1.25);
    }
    h3 {
        font-size: @ipFontSizeBig;
    }

    ul {
        list-style-position: inside;
        list-style-type: square;
        margin: 0 0 @ipSpaceText @ipSpaceElement;
    }

    ol {
        list-style-position: inside;
        margin: 0 0 @ipSpaceText @ipSpaceElement;
    }

    p {
        line-height: @ipLineHeight;
        margin-bottom: @ipSpaceText;
    }

    ul ul, ol ol {
        margin-bottom: 0; // removing bottom spacing for inner lists
    }

    li {
        line-height: @ipLineHeight;
        margin-bottom: (@ipSpaceGroup / 2);
    }

    p+ul, p+ol {
        margin-top: -@ipSpaceText; // If list goes just after the paragraph the space is removed
    }

    a {
        color: @ipLinkColor;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    table {
        border-collapse: collapse;
        color: @ipTextColor;
        font-family:  @ipFontFamily;
        font-size: @fontSize;
        width: 100%;

        p {
            line-height: auto;
            margin: 0;
        }
    }

    td {
        border-bottom: 1px solid #b2b2b2;
        font-size: @fontSize;
        padding: 9px;
    }

    th,
    thead td,
    tbody tr:first-child td {
        // making first line look like header in all cases
        font-size: @fontSize;
        font-weight: bold;
    }

    thead+tbody tr:first-child td {
        // setting back styles if thead exists
        background-color: transparent;
        border-bottom: 1px solid lighten(@ipBorderColor, 10);
        color: inherit;
        font-size: @fontSize;
        font-weight: normal;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
        margin-bottom: 0; // removing bottom margin on last elements
    }
}
