.ipWidget-IpLogoGallery {
    ul {
        list-style: none;
        margin: -@marginBottomGallery 0 0 -@marginRightGallery; // hack to keep images aligned with the content but keeping spaces between them; the size should be smaller than space below widgets
    }

    li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; // for max-width to make sense
        float: left;
        margin: @marginBottomGallery 0 0 @marginRightGallery; // size should be equal with ul element but without minus sign
        max-width: 40%;

        img {
            border: 1px solid @borderColor;
            display: block;
            max-width: 100%;
            padding: @paddingGallery;
        }

        a:hover img {
            border-color: @borderColorDark;
        }
    }
}
