/*
  Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
body {
    color: #212834;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
input, select, textarea, option, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: 13px;
}
address {
    font-style: normal;
}

/*
  Global
*/
.clear {
    clear: both;
    font-size: 0;
    height: 0;
    overflow: hidden;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    min-height: 1%;
}

/*
  Structure
*/
.wrapper {
    background-color: #fff;
    margin: 0 auto;
    padding: 0 10px;
    width: 984px;
}
