/*
    Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: #fff url(bg.png) no-repeat center 45%;
    color: #2f313f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 320px;
    min-width: 472px;
}
input, select, textarea, option, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: 12px;
}

/*
    Layout
*/
.logo {
    display: block;
    margin: 30px;
    position: absolute;
}
.verticalAlign {
    float: left;
    height: 50%;
    margin-top: -147px;
    width: 100%;
}
.login {
    background-color: #fff;
    border: 7px solid #000;
    box-shadow: 0 0 20px #000;
    clear: both;
    height: 280px;
    margin: 0 auto;
    position: relative;
    width: 472px;
    z-index: 1;
}
.loginFooter {
    background-color: #4e4e50;
    border-top: 1px solid #404042;
    bottom: 0;
    color: #c6c6c8;
    font-size: 11px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.loginFooter a {
    color: #c6c6c8;
}
.loginFooter a:hover {
    text-decoration: underline;
}

/*
    Form
*/

.formWrap {
    padding: 5px 15px;
}

.loginTitle {
    border-bottom: 1px solid #000;
    padding: 5px 15px;
}
.loginTitle h1 {
    color: #000000;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
.login form {
    padding-top: 40px;
    /*position: relative;*/
}




.ipModuleForm form,
.ipModuleForm fieldset,
.ipModuleForm label {
    border: none;
    margin: 0;
    padding: 0;
}
.ipModuleForm input,
.ipModuleForm select,
.ipModuleForm textarea,
.ipModuleForm option {
    font-family: 14px;
    font-size: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.ipModuleForm .ipmPage {
    max-width: 100%;
    overflow: auto;
}
.ipModuleForm .ipmField {
    margin-bottom: 20px;
    position: relative;
    zoom: 1;
}
.ipModuleForm .ipmField:before,
.ipModuleForm .ipmField:after {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.ipModuleForm .ipmField:after {
    clear: both;
}
.ipModuleForm .ipmField:last-child {
    margin-bottom: 0;
}
.ipModuleForm .ipmType-blank {
    margin: -20px 0 0;
    position: absolute;
}
.ipModuleForm .ipmLabel {
    float: left;
    text-align: right;
    width: 110px;
    font-weight: bold;
    margin: 0 0 3px 0;
    min-height: 1px;
    padding: 6px 18px 0 0;
}
.ipModuleForm .ipmControlBlank {
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.ipModuleForm .ipmControlInput {
    border: 1px solid #767879;
    box-shadow: 0 3px 6px #e6e6e6 inset;
    display: block;
    float: left;
    margin: 0 8px 0 0;
    padding: 5px 2px;
    width: 245px;
}
.ipModuleForm .ipmControlInput:focus {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.ipModuleForm .ipmControl {
    float: left;
}

.ipModuleForm .ipmControlTextarea {
    background-color: #fff;
    border: 1px solid #747474;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #777;
    margin: 0;
    max-width: 380px;
    padding: 0.5em;
    width: 100%;
    height: 10em;
    overflow: auto;
}
.ipModuleForm .ipmControlTextarea:focus {
    background-color: #fff;
    border-color: #000;
    color: #000;
}
.ipModuleForm .ipmControlSelect {
    background-color: #fff;
    border: 1px solid #747474;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #777;
    margin: 0;
    max-width: 380px;
    padding: 0.5em;
    width: 100%;
}
.ipModuleForm .ipmControlSelect:focus {
    background-color: #fff;
    border-color: #000;
    color: #000;
}
.ipModuleForm .ipmType-confirm .ipmControlCheckbox {
    float: left;
}
.ipModuleForm .ipmControlConfirmOptions {
    margin-left: 25px;
}
.ipModuleForm .ipmType-captcha .ipmControl img {
    display: block;
    max-width: 100%;
}
.ipModuleForm .ipmNote {
    color: #333333;
    font-size: 12px;
}
.ipModuleForm .ipmHint {
    background-color: #747474;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 4px 10px 2px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 1;
}
.ipModuleForm .ipmField:hover .ipmHint {
    display: block;
}
.ipModuleForm .ipmControlSubmit {
    background-color: #0184BE;
    background: -moz-linear-gradient(center top , #2acae8, #0184be);
    background: -webkit-linear-gradient(center top , #2acae8, #0184be);
    background: linear-gradient(center top , #2acae8, #0184be);
    border: 1px solid #2a9ec3;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.36) inset;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 10px;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.36);
}
.ipModuleForm .ipmControlSubmit:hover {
    background-color: #0290d0;
    background: -moz-linear-gradient(center top, #0290d0, #01c0e4);
    background: -webkit-linear-gradient(center top, #0290d0, #01c0e4);
    background: linear-gradient(center top, #0290d0, #01c0e4);
    box-shadow: none;
}
.ipModuleForm .ipmControlError {
    border-color: #b80000;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
    width: 0;
    height: 0;
    overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
    margin: 0;
    padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFile {
    background-color: #a7a7a7;
    margin-top: 5px;
    padding: 0.5em;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove {
    cursor: pointer;
    float: right;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:before {
    border: 1px solid #747474;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    color: #000;
    content: '\00D7';
    display: inline-block;
    height: 15px;
    line-height: 15px;
    text-align: center;
    width: 15px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:hover:before {
    background-color: #000;
    color: #fff;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgress {
    border: 1px solid #747474;
    height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgressValue {
    background-color: #747474;
    height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmUploadError {
    color: #b80000;
    font-size: 12px;
}


.ipmErrorMessage {
    background-color: #b80000;
    color: #fff;
    font-size: 12px;
    padding: 4px 10px 2px;
    z-index: 2;
}