
div.note {
    border: 1px solid gray;
    background-color: #ffffdd;
    padding: 7px;
    margin-bottom: 7px;
}

div.newModule pa {
    margin-bottom: 7px;
    color: #000000;
    display: inline-block; /* ie8 bug fix*/
}

div.contentModContactFormInput div {
    font-size: 12px;
}

div.moduleGroup {
    margin-top: 10px;
    font-weight: bold;
    color: #595959;
}

div.contentModContactFormInput {
    color: #595959;
}

div.content {
    border-top: 1px solid #c1c3c6;
    border-left: 1px solid #c1c3c6;
    border-right: 1px solid #c1c3c6;
    border-bottom: 1px solid #c1c3c6;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
}

div.parameter {
    width: 800px;
    border-bottom: 1px dotted #c9c9c9;
    padding: 3px;
}

div.parameterName {
    font-weight: bold;
    width: 300px;
    float: left;
}

div.parameterValue {
    width: 500px;
    float: left;
}

#systemInfo div {
    margin-bottom: 10px;
}

#systemInfo {
    padding-bottom: 0px;
}

h1 {
    margin-bottom: 8px;
}

p {
    margin-bottom: 8px;
}