/*
    Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: @backgroundColor;
    color: @textColor;
    font-family: @fontFamily;
    font-size: @fontSize;
}
input, select, textarea, option, table {
    font-family:  @fontFamily;
    font-size: @fontSize;
}
table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: @fontSize;
}
address {
    font-style: normal;
}

/*
    Global
*/
.left {
    float: left;
}
.right {
    float: right;
}

/*
    Structure
*/
.wrapper {
    background-color: @wrapperBackgroundColor;
    border-color: @mainColor;
    border-style: solid;
    border-width: 12px 0;
    padding: 0 20px;
}
.wrapper > header {
    margin-bottom: 50px;
}
.main {
    
}
.wrapper > footer {
    border-top: 2px solid @borderColorDark;
    color: @textColor;
    font-size: 12px;
    margin: 40px -20px 0;
    padding: 12px 20px;
}

/*
    Styles
*/
.logo {
    margin: 25px 0;
    display: block;
    float: left;
    max-width: 620px;
}
.logo a {
    color: @textColor;
    font-family: @fontFamilyHeadlines;
    font-size: 45px;
    font-weight: bold;
}
.languages {
    float: right;
    margin-top: 14px;
}
.languages ul {
    list-style: none;
}
.languages li {
    border-left: 1px solid @wrapperBackgroundColor;
    float: left;
}
.languages li:first-child {
    border: none;
}
.languages a {
    color: #737373;
    padding: 5px 10px;
}
.languages .current a,
.languages a:hover {
    color: @textColor;
}
.wrapper > header .banner {
    clear: both;
    display: block;
}
.boxImage {
  width: @boxWidth;
  overflow: hidden;
}
.breadcrumb {
    font-size: 12px;
    margin-bottom: 15px;
}
.breadcrumb a {
    color: @textColor;
}
.breadcrumb a:hover {
    text-decoration: underline;
}
.wrapper > footer a {
    .linkColor();
}
.wrapper > footer a:hover {
    text-decoration: underline;
}
.wrapper.Light {
    background-color: #ffffdd;
}
.wrapper.Dark {
    background-color: #c5c5c5;
}
