// Modules :: search
.searchToggle {
    .topmenuToggle;
    background-image: url('img/icon_search.png');
    margin-left: @ipSpaceGroup;
}
.ipModuleSearch {
    .ipModuleForm; // reusing default form styles

    clear: right;
    float: right;
    margin-top: @ipSpaceGlobal;

    .ipmPage {
        overflow: visible;
    }
    .ipmField {
        float: left;
        margin-bottom: 0;
    }
    .ipmLabel {
        display: none; // hiding labels as they are printed by default
    }
    .ipmControlInput {
        width: 160px;
    }
    .ipmControlSubmit {
        margin-left: @ipSpaceGroup;
    }
}

// changing behavior on mobile devices
@media screen and (max-width: (@screenMedium - 1px)) {
    .searchToggle {
        display: inline-block;
    }
    .ipModuleSearch {
        .topmenuPopup;
        padding: @ipSpaceGlobal;
    }
}
