/* global */
.ipBlock .clear {
  clear: both;
  font-size: 0;
  height: 0;
  overflow: hidden;
}
.ipWidget:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
/* /global */

/* content styles */
/* main content styles in dynamically generated content area */
.ipBlock,.mceContentBody {
    color: #4b4a4a;
    font-family: Arial, Verdana, Tahoma;
    font-size: 14px;
    text-align: left;
}

.ipBlock table,.mceContentBody table {
    border-collapse: collapse;
}

.ipBlock td,.ipBlock th,.mceContentBody td,.mceContentBody th {
    border-bottom: 1px solid #cccccc;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    padding: 10px;
    vertical-align: top;
}

.ipBlock td p,.ipBlock th p,.mceContentBody td p,.mceContentBody th p
    {
    line-height: 14px;
}

.ipBlock thead td,.ipBlock th,.mceContentBody thead td,.mceContentBody th
    {
    background-color: #cccccc;
    color: #ffffff;
    font-weight: bold;
}

.ipBlock p,.mceContentBody p {
    line-height: 20px;
    margin: 0;
}

.ipBlock p a,.mceContentBody p a,.ipBlock li a,.mceContentBody li a,.ipBlock td a,.ipBlock th a,.mceContentBody td a,.mceContentBody th a
    {
    color: #1e8de5;
    text-decoration: underline;
}

.ipBlock p a:visited,.mceContentBody p a:visited,.ipBlock li a:visited,.mceContentBody li a:visited,.ipBlock td a:visited,.ipBlock th a:visited,.mceContentBody td a:visited,.mceContentBody th a:visited
    {
    color: #6a78b4;
}

.ipBlock p a:hover,.mceContentBody p a:hover,.ipBlock li a:hover,.mceContentBody li a:hover,.ipBlock td a:hover,.ipBlock th a:hover,.mceContentBody td a:hover,.mceContentBody th a:hover
    {
    color: #f59a25;
}

.ipBlock ol,.mceContentBody ol {
    margin: 10px 0 10px 15px;
    padding: 0;
}

.ipBlock ol li,.mceContentBody ol li {
    line-height: 20px;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.ipBlock ul,.mceContentBody ul {
    list-style: none;
    margin: 10px 0 10px 15px;
    padding: 0;
}

.ipBlock ul li,.mceContentBody ul li {
    background: transparent url(images/list.gif) no-repeat scroll 6px 9px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 18px;
}

.ipBlock .caption,.mceContentBody .caption {
    /* predefined style in wysiwyg */
    font-weight: bold;
}

.ipBlock .signature,.mceContentBody .signature {
    /* predefined style in wysiwyg */
    font-style: italic;
    text-align: right;
}

.ipBlock .note,.mceContentBody .note {
    /* predefined style in wysiwyg */
    background-color: #f8fafc;
    border: 1px solid #c0c0c0;
    display: block;
    padding: 10px;
}
/* /content styles */

/* TinyMCE styles */
/* repairing broken styles */
.ipBlock a.mceText {
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
}

.ipBlock .mceStatusbar div {
    display: none;
}

/* place here rules that need to repair other broken TinyMCE elements if new CSS rules collide with them. */

/* /TinyMCE styles */

/* content modules */
.ipBlock .ipWidget {
    /* by default all content modules have the same margin */
    margin-bottom: 20px;
}

.ipBlock .ipWidgetText {
    
}

.ipBlock .ipWidgetTitle {
    
}

.ipWidget-IpTitle h1 {
    color: #00a8da;
    font-family: "Trebuchet MS", Verdana, Arial;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.ipWidget-IpTitle h2 {
    color: #83b51e;
    font-family: Arial, Verdana, "Trebuchet MS";
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.ipWidget-IpTextPicture img {
    border: 1px solid #cccccc;
    float: left;
    margin: 0 10px 10px 0;
    padding: 3px;
}

.ipWidget-IpTextPicture img:hover {
    border: 1px solid #999999;
}

.ipWidget-IpTextPicture.ipLayout-right img {
    border: 1px solid #cccccc;
    float: right;
    margin: 0 0 10px 10px;
    padding: 3px;
}

.ipWidget-IpTextPicture.ipLayout-right img :hover {
    border: 1px solid #999999;
}

.ipWidget-IpPicture img {
    border: 1px solid #cccccc;
    display: block;
    padding: 3px;
}

.ipWidget-IpPictureGallery ul {
    float: left;
    list-style: none;
    margin: -10px 0 0 -10px;
    padding: 0;
}

.ipWidget-IpPictureGallery ul li {
    background: none;
    float: left;
    padding: 0;
}

.ipWidget-IpPictureGallery li a {
    border: 1px solid #cccccc;
    display: block;
    float: left;
    margin: 10px 0 0 10px;
    padding: 3px;
}

.ipWidget-IpPictureGallery li a:hover {
    border: 1px solid #999999;
}

.ipWidget-IpPictureGallery li a img {
    border: none;
    float: left;
}

.ipBlock .ipWidgetLogoGallery {
    
}

.ipWidget-IpLogoGallery ul {
    float: left;
    margin: -24px 0 0 -24px;
}

.ipWidget-IpLogoGallery ul li {
    background: none;
    float: left;
    padding: 0;
}
.ipWidget-IpLogoGallery li a {
    float: left;
    height: 150px;
    margin: 24px 0 0 24px;
    overflow: hidden;
    vertical-align: middle;
    width: 150px;
}

.ipBlock .ipWidgetVideo {
    text-align: left;
}

.ipBlock .ipWidgetFaq {
    
}

.ipBlock .ipWidgetFaqQuestion {
    color: #4b4a4a;
    font-weight: bold;
    text-decoration: none;
}

.ipBlock .ipWidgetFaqAnswer {
    display: none;
}

.ipWidget-IpFile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ipWidget-IpFile ul li {
    background: none;
    padding: 0;
}

.ipWidget-IpFile a {
    color: #1e8de5;
    font-weight: bold;
    text-decoration: none;
}

.ipWidget-IpFile a:visited {
    color: #6a78b4;
}

.ipWidget-IpFile a:hover {
    color: #f59a25;
}

.ipBlock .ipWidgetHtmlCode {
    
}

.ipBlock .ipWidgetContactForm {
    border: 1px solid #cecece;
    padding: 17px;
}

/* /content modules */

/* forms */
.ipBlock .libPhpFormField,.ipBlock .libPhpFormFieldError {
    padding-bottom: 17px;
}

.ipBlock .libPhpFormButtons {
    padding-left: 160px;
}

.ipBlock .libPhpFormSubmit {
    background-color: #ffffff;
    border: 1px solid #00A8DA;
    color: #00A8DA;
    cursor: pointer;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    padding: 2px 5px 2px 4px;
}

.ipBlock .libPhpFormSubmit:hover {
    background-color: #00A8DA;
    color: white;
}

.ipBlock .libPhpFormCaption {
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 10px 0 0;
    text-align: left;
    width: 150px;
}

.ipBlock .libPhpFormFieldError .libPhpFormCaption {
    
}

.ipBlock .libPhpFormInput {
    float: left;
    padding-right: 10px;
    width: 215px;
}

.ipBlock .libPhpFormInput input,.ipBlock .libPhpFormInput textarea {
    border: 1px solid #cecece;
    color: #3c3c3c;
    font-family: Arial, Verdana, Tahoma;
    font-size: 13px;
    padding: 1px;
    width: 215px;
}

.ipBlock .libPhpFormInput textarea {
    overflow: auto;
    width: 215px;
}

.ipBlock .libPhpFormInput select {
    color: #3c3c3c;
    font-size: 13px;
    padding: 1px;
    width: 215px;
}

.ipBlock .libPhpFormInput input.checkbox,.ipBlock .libPhpFormInput input.radio
    {
    border: none;
    width: auto;
}

.ipBlock .libPhpFormFieldError .libPhpFormInput input,.ipBlock .libPhpFormFieldError .libPhpFormInput textarea,.ipBlock .libPhpFormFieldError .libPhpFormInput select
    {
    border: 1px solid #e53031;
}

.ipBlock  .libPhpFormFieldError .libPhpFormInput input.checkbox {
    outline: #e53031 solid 1px;
}

.ipBlock .libPhpFormFieldError .libPhpFormFieldRow label {
    color: #e53031;
}

.ipBlock .libPhpFormHint {
    background: transparent url(images/hint_cursor.gif) no-repeat scroll top
        left;
    display: none;
    float: left;
    height: 17px;
    width: 10px;
}

.ipBlock .libPhpFormHint span {
    background-color: #f4f6f7;
    color: #00a8da;
    float: left;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10px;
    padding: 8px;
    position: absolute;
    width: 225px;
    z-index: 3;
}

.ipBlock .libPhpFormError {
    clear: both;
    color: #e53031;
    display: none;
    float: left;
    font-size: 12px;
}

.ipBlock .libPhpFormGlobalError {
    clear: both;
    color: #e53031;
    display: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.ipBlock .libPhpFormNote {
    clear: both;
    float: left;
    font-size: 12px;
}

/* /forms */