/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #edf0f2 url(images/bg.jpg) repeat-x scroll top left;
}

.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
    overflow: hidden;
}

.right {
    float: right;
}
/* /global */
.main {
    width: 928px;
    margin: 7px auto;
    background: white;
    border: 1px solid #cccccc;
    padding: 17px 34px;
}

.pageHead {
    height: 122px;
}

.headLogo {
    float: left;
    border: none;
}

.icons {
    float: left;
}

.icons a {
    
}

.icons a img {
    border-left: 1px solid #f5f5f3;
    border-right: 1px solid #f7f9f9;
    border-top: none;
    border-bottom: none;
    float: left;
    margin-left: 10px;
    background-color: #f4f6f7;
    cursor: pointer;
    padding: 3px;
    float: left;
}

.icons a img:hover {
    background-color: #f5a519;
}

.languages {
    float: left;
    margin-left: 30px;
}

.languages li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

.languages a {
    font-family: Arial, Verdana, Tahoma;
    color: #3c3c3c;
    text-decoration: none;
    font-size: 12px;
    padding: 3px 6px;
    background-color: #f4f6f7;
    margin-left: 4px;
}

.languages a:hover {
    background-color: #f5a519;
    color: #3c3c3c;
}

.languages a.act {
    color: white;
    background-color: #26a5cb;
}

/* top menu */
.menuTop {
    float: left;
    margin-left: 30px;
}

.menuTop ul li {
    float: left;
    list-style: none;
}

.menuTop ul li a {
    font-family: Arial, Verdana, Tahoma;
    color: #3c3c3c;
    text-decoration: none;
    font-size: 12px;
    padding: 3px 6px;
    background-color: #f4f6f7;
    margin-right: 8px;
    display: block;
}

.menuTop ul li a:hover {
    background-color: #f5a519;
    color: #3c3c3c;
}

.menuTop ul li.current a {
    background-color: #26a5cb;
    color: white;
}
/* /top menu */

/* left menu */
.leftCol {
    float: left;
}

.leftCol .box {
    width: 146px;
    background-color: #f4f6f7;
    padding: 15px 26px 15px 20px;
    margin-bottom: 15px;
    display: block;
}

.leftMenu ul {
    border-top: 1px dotted #cccccc;
    list-style-type: none;
}

.leftMenu ul.level2 {
    margin-left: 7px;
}

.leftMenu ul li {
    border-bottom: 1px dotted #cccccc;
}

.leftMenu ul.level2 li {
    border-bottom: none;
}

.leftMenu ul li.subnodes {
    
}

.leftMenu ul li a {
    font-family: Verdana;
    font-size: 12px;
    color: #595959;
    text-decoration: none;
    padding: 2px 7px 2px 7px;
    display: block;
    margin: 9px 0;
    line-height: 17px;
    font-weight: bold;
}

.leftMenu ul li a:hover {
    background-color: #f5a519;
    color: white;
}

.leftMenu ul.level1 li a {
    background: transparent url(images/menu_icon.gif) no-repeat scroll 6px
        9px;
    padding-left: 19px;
}

.leftMenu ul.level1 li.current a {
    background: url(images/menu_icon_act.gif) no-repeat scroll 6px 9px;
}

.leftMenu ul.level1 li a:hover {
    background: #f5a519 url(images/menu_icon_act.gif) no-repeat scroll 6px
        9px;
}

.leftMenu ul.level1 li.subnodes a.subnodes {
    background: transparent url(images/menu_plus.gif) no-repeat scroll 6px
        7px;
    padding-left: 19px;
}

.leftMenu ul.level1 li.currentSubnodes a.currentSubnodes {
    background: #83b51e url(images/menu_minus.gif) no-repeat scroll 6px 7px;
    padding-left: 19px;
}

.leftMenu ul.level1 li.selectedSubnodes a.selectedSubnodes {
    background: transparent url(images/menu_minus2.gif) no-repeat scroll 6px
        7px;
    padding-left: 19px;
}

.leftMenu ul.level1 li.selectedSubnodes a.selectedSubnodes:hover {
    background: #f5a519 url(images/menu_minus.gif) no-repeat scroll 6px 7px;
    padding-left: 19px;
}

.leftMenu ul.level1 li.subnodes a:hover {
    background: #f5a519 url(images/menu_minus.gif) no-repeat scroll 6px 7px;
    padding-left: 19px;
}

.leftMenu ul.level2 li {
    border-bottom: 1px solid #F4F6F7;
}

.leftMenu ul.level2 li a {
    padding-left: 18px;
    background: url(images/menu_icon2.gif) no-repeat 8px 9px;
    font-weight: normal;
}

.leftMenu ul.level2 li a:hover {
    background: #f5a519 url(images/menu_icon2_act.gif) no-repeat 8px 9px;
    font-weight: normal;
}

.leftMenu ul.level2 li.current a.current {
    background: #83b51e url(images/menu_icon2_act.gif) no-repeat scroll 8px
        9px;
}

.leftMenu ul li.current a.current,.leftMenu ul li.currentSubnodes a.currentSubnodes
    {
    background-color: #83b51e;
    color: white;
}

.leftMenu ul.level1 li ul.level2 {
    display: none;
}

.leftMenu ul.level1 li.selectedSubnodes ul.level2,.leftMenu ul.level1 li.currentSubnodes ul.level2
    {
    display: block;
}
/* /left menu */

/* sub menu */
.menuSub {
    
}

.menuSub ul {
    width: 645px;
    float: left;
    margin-left: 46px;
    margin-bottom: 24px;
    background-color: #e3edf1;
    padding: 18px;
    list-style-type: none;
}

.menuSub ul li {
    
}

.menuSub ul li a {
    font-family: Verdana;
    font-size: 12px;
    color: #595959;
    text-decoration: none;
    padding: 2px 7px 2px 7px;
    display: block;
    margin: 9px 0;
    line-height: 17px;
    font-weight: bold;
    padding-left: 18px;
    background: url(images/menu_icon2.gif) no-repeat 8px 9px;
    font-weight: normal;
    width: 200px;
}

.menuSub ul li a:hover {
    background-color: #f5a519;
    color: white;
    background: #f5a519 url(images/menu_icon2_act.gif) no-repeat 8px 9px;
    font-weight: normal;
}

.menuSub ul li.current a {
    background: #83b51e url(images/menu_icon2_act.gif) no-repeat scroll 8px
        9px;
    color: white;
}

/* /sub menu*/

/* newsletter */
.newsletter .label {
    font-family: "Trebuchet MS", Helvetica, Arial;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #26a5cb;
    text-transform: uppercase;
    display: block;
}

.newsletter .error {
    font-family: "Trebuchet MS", Helvetica, Arial;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: -18px;
    color: #ff0000;
    display: none;
}

.newsletter .input {
    border: 1px solid #83b51e;
    width: 100%;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #3c3c3c;
    padding: 1px;
    height: 15px;
    margin-bottom: 10px;
    color: #3C3C3C;
}

.newsletter .subscribe {
    display: block;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #00a8da;
    font-weight: bold;
    border: 1px solid #00a8da;
    clear: left;
    float: left;
    height: 15px;
    margin: 0 0 10px 0;
    padding: 2px 24px 2px 5px;
    background: #ffffff url(images/icon_submit.gif) no-repeat scroll top
        right;
    text-decoration: none;
}

.newsletter .subscribe:hover {
    background-color: #00a8da;
    color: #ffffff;
}

.newsletter .unsubscribe {
    display: block;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #bebebe;
    font-weight: bold;
    border: 1px solid #cccccc;
    clear: left;
    float: left;
    height: 15px;
    margin: 0 0 10px 0;
    padding: 2px 24px 2px 5px;
    background: #ffffff url(images/icon_submit2.gif) no-repeat scroll top
        right;
    text-decoration: none;
}

.newsletter .unsubscribe:hover {
    background: #00a8da url(images/icon_submit2_act.gif) no-repeat scroll
        top right;
    border-color: #00a8da;
    color: #ffffff;
}

.newsletter .separator {
    clear: both;
    height: 7px;
    border-bottom: 1px dotted #cccccc;
}

.rss {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #1e8de5;
    clear: left;
    display: block;
    padding: 15px 2px 2px 20px;
    background: transparent url(images/icon_rss.gif) no-repeat scroll 0 14px;
    text-decoration: none;
}

.rss:hover {
    text-decoration: underline;
}

/* /newsletter */

/* search */
.search {
    clear: right;
    float: right;
    margin-top: 20px;
}

.modAdministratorSearchInput {
    border: 1px solid #83b51e;
    float: left;
    width: 120px;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #3c3c3c;
    padding: 1px 3px;
    height: 15px;
}

.modAdministratorSearchButton {
    width: 19px;
    height: 19px;
    float: left;
    cursor: pointer;
    background: #83b51e url(images/search.gif) no-repeat scroll center
        center;
}

.ipContent .modAdministratorSearchList {
    list-style: none;
    margin: 0;
}

.ipContent .modAdministratorSearchList li {
    background: none;
    padding: 0;
    margin-bottom: 10px;
}

.ipContent .modAdministratorSearchLink {
    
}

.ipContent .modAdministratorSearchDescription {
    font-size: 12px;
}
/* /search */

/* breadcrumb */
.breadcrumb {
    width: 673px;
    float: left;
    margin-left: 46px;
    margin-bottom: 12px;
    border-bottom: 1px solid #f5a519;
    padding: 4px;
}

.breadcrumb a,.breadCrumb span {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #595959;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb img {
    border: 0;
    margin: 2px 6px -2px 0px;
}
/* /breadcrumb */
.ipContent {
    /* required ImpressPages CMS element where all content is placed */
    width: 673px;
    float: left;
    /* "ipContent" div should be floated to left or right because clear property in some modules */
    margin-left: 46px;
}

.footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px 0 20px 0;
}

.footer p,.footer a {
    text-align: center;
    font-family: Verdana, Tahoma, Arial;
    font-size: 10px;
    color: #6d6b70;
}

.footer .poweredBy {
    float: right;
}

.footer .copyright {
    float: left;
}