.languageList {
  float: left;
  padding: 0;
}
.languageList li {
  list-style: none;
}
.zoneList {
  float: left;
  padding: 0;
}
.zoneList .title {
  display: block;
}
.zoneList li {
  list-style: none;
  clear: both;
  display: block;
}
.tree {
  float: left;
}
.tree ul {
  margin: 0;
  padding: 0;
}
.navBlock {
  float: left;
  margin-left: 20px;
  background-color: #ccc;
  border-left: 3px solid #1d1e1e;
  padding: 10px;
}
.navBlock :first-child {
  margin-left: 0;
}
