.ipAdminToolbar {
    background-color: #2f313f;
    border-bottom: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.ipAdminToolbar .ipmItemMenu {
    background-color: #f90;
    float: left;
    display: block;
    height: 10px;
    margin: 0 15px;
    padding: 10px;
    position: relative;
    width: 14px;
}
.ipAdminToolbar .ipmItemMenu .ipmMenuBar {
    background-color: #000;
    display: block;
    height: 2px;
    margin-top: 3px;
}
.ipAdminToolbar .ipmItemMenu .ipmMenuBar:first-child {
    margin-top: 0;
}
.ipAdminToolbar .ipmItemCurrent {
    background-color: #fff;
    color: #000;
    display: block;
    float: left;
    font-weight: bold;
    height: 31px; /* 1px more to hide container border */
    line-height: 30px;
    margin-bottom: -1px; /* 1px more to hide container border */
    padding: 0 15px;
    text-decoration: none;
}
.ipAdminToolbar .ipmItemLogout {
    color: #c0c0c0;
    float: right;
    font-size: 12px;
    line-height: 30px;
    margin-right: 15px;
    text-decoration: none;
    text-shadow: 1px 1px #000;
}
.ipAdminToolbar .ipmItemLogout:hover {
    color: #fff;
}
.ipAdminToolbar .ipmMenu li .icon-stack .icon-stack-base,
.ipAdminToolbar .ipmItemLogout .icon-stack .icon-stack-base {
    color: #444653;
    font-size: 1.5em;
    text-shadow: none;
}
.ipAdminToolbar .ipmMenu {
    background-color: #2f313f;
    display: none;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    z-index: 1001;
}
.ipAdminToolbar .ipmMenu .ipmMenuTitle {
    background-color: #f90;
    border-bottom: 1px solid #000;
    display: block;
    font-weight: bold;
    line-height: 30px;
    height: 30px; /* same as menu icon */
    padding-left: 50px;
}
.ipAdminToolbar .ipmMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ipAdminToolbar .ipmMenu ul:last-child {
    margin-bottom: 30px; /* leaving space at the bottom */
}
.ipAdminToolbar .ipmMenu .typeHeader {
    color: #a6a6a6;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 12px;
    margin-top: -1px;
    padding: 6px 10px;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
}
.ipAdminToolbar .ipmMenu li a {
    background-color: #262732;
    border-bottom: 1px solid #3b3d4f;
    color: #e2e2e2;
    display: block;
    padding: 6px 50px 6px 30px;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    white-space: nowrap;
}
.ipAdminToolbar .ipmMenu li a:hover {
    background-color: #3b3d4f;
}
.ipAdminToolbar .ipmMenu .selected a,
.ipAdminToolbar .ipmMenu .current a {
    background-color: #019bd4;
}
