/*
    Disabling default styles
*/
html, body, h1, h2, h3, h4, h5, h6, img, blockquote, form, fieldset, label, p, ul, ol, li, dl, dd, dt {
    border: none;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background: #fff url(bg.png) no-repeat center 45%;
    color: #2f313f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 320px;
    min-width: 472px;
}
input, select, textarea, option, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-size: 12px;
}

/*
    Layout
*/
.logo {
    display: block;
    margin: 30px;
    position: absolute;
}
.verticalAlign {
    float: left;
    height: 50%;
    margin-top: -147px;
    width: 100%;
}
.login {
    background-color: #fff;
    border: 7px solid #000;
    box-shadow: 0 0 20px #000;
    clear: both;
    height: 280px;
    margin: 0 auto;
    position: relative;
    width: 472px;
    z-index: 1;
}
.loginFooter {
    background-color: #4e4e50;
    border-top: 1px solid #404042;
    bottom: 0;
    color: #c6c6c8;
    font-size: 11px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.loginFooter a {
    color: #c6c6c8;
}
.loginFooter a:hover {
    text-decoration: underline;
}

/*
    Form
*/
.loginTitle {
    border-bottom: 1px solid #000;
    padding: 5px 15px;
}
.loginTitle h1 {
    color: #000000;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}
.login form {
    padding-top: 40px;
    position: relative;
}
.loginError {
    color: #e73031;
    left: 128px;
    position: absolute;
    top: 15px;
}
.login label {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 20px;
}
.login label span {
    display: block;
    float: left;
    font-weight: bold;
    padding: 6px 18px 0 0;
    text-align: right;
    width: 110px;
}
.loginInput {
    background-color: #fafafa;
    border: 1px solid #767879;
    box-shadow: 0 3px 6px #e6e6e6 inset;
    display: block;
    float: left;
    margin: 0 8px 0 0;
    padding: 5px 2px;
    width: 245px;
}
.loginSubmit {
    background-color: #0184BE;
    background: -moz-linear-gradient(center top , #2acae8, #0184be);
    background: -webkit-linear-gradient(center top , #2acae8, #0184be);
    background: linear-gradient(center top , #2acae8, #0184be);
    border: 1px solid #2a9ec3;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.36) inset;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 128px;
    padding: 3px 10px;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.36);
}
.loginSubmit:hover {
    background-color: #0290d0;
    background: -moz-linear-gradient(center top, #0290d0, #01c0e4);
    background: -webkit-linear-gradient(center top, #0290d0, #01c0e4);
    background: linear-gradient(center top, #0290d0, #01c0e4);
    box-shadow: none;
}
