.stopScrolling {
    height: 100%;
    overflow: hidden;
}

/* Popup */
.ipModuleRepositoryPopup {
    font-size: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99000;
}
.ipModuleRepositoryPopup .ipmBuyDialog {
    z-index: 99001;
}
.ipModuleRepositoryPopup .ipmClose {
    float: right;
    margin-right: 9px;
    margin-top: -24px;
}
.ipModuleRepositoryPopup .ui-tabs {
    height: 100%;
}

/* Tab Upload */
.ipModuleRepositoryPopup .ipmTabUpload {
    overflow: hidden;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer {
    width: 250px;
    height: 295px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .impDragdropNotice {
    display: none;
    margin-bottom: 10px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop {
    background-color: #d5d5d5;
    background-image: url(bg_upload.png);
    padding: 20px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop.hover {
    background-color: #f9f9f9;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop .ipmBrowseButtonWrapper {
    padding: 50px;
    text-align: center;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop .impDragdropNotice {
    display: block;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipmFile {
    margin-bottom: 10px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaButton {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaFileMove {
    cursor: move;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaFileTemplate {
    margin-bottom: 7px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaRenameTo {
    width: 400px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipmBrowseButton {
    z-index: 99100;
}

/* Tab All */
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowser {
    margin-bottom: 20px;
    margin-left: 300px;
    min-height: 295px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer {
    /*margin-left: -15px;*/
    /*margin-top: -25px;*/
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer h2 {
    clear: both;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer ul {
    clear: both;
    margin-bottom: 20px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer li {
    float: left;
    height: 116px;
    list-style: none;
    margin-left: 20px;
    margin-top: 30px;
    width: 100px;
    cursor: pointer;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer li img {
    height: 100px;
    width: 100px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer li .name {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ui-selecting img {
    outline: #f1c06b solid 5px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ui-selected img {
    outline: #f5a417 solid 5px; /*rgb(206, 206, 206)*/
}

/* Tab Buy */
.ipModuleRepositoryPopup .ipmTabBuy iframe {
    overflow: hidden;
    width: 100%;
}
