.stopScrolling {
    height: 100%;
    overflow: hidden;
}

/* Popup */
.ipModuleRepositoryPopup {
    font-size: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99000;
}
.ipModuleRepositoryPopup .ui-tabs .ui-tabs-panel {
    padding: 0;
}
.ipModuleRepositoryPopup .ipmBuyDialog {
    z-index: 99001;
}
.ipModuleRepositoryPopup .ipmClose {
    border: 1px solid transparent;
    float: right;
    margin-right: 7px;
    margin-top: -26px;
}
.ipModuleRepositoryPopup .ui-tabs {
    height: 100%;
}

/* Tab Upload */
.ipModuleRepositoryPopup .ipmTabUpload {
    overflow: hidden;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer {
    width: 250px;
    height: 295px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .impDragdropNotice {
    display: none;
    margin-bottom: 10px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop {
    background-color: #d5d5d5;
    background-image: url(bg_upload.png);
    padding: 20px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop.hover {
    background-color: #f9f9f9;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop .ipmBrowseButtonWrapper {
    padding: 50px;
    text-align: center;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer.dragdrop .impDragdropNotice {
    display: block;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipmFile {
    margin-bottom: 10px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaButton {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaFileMove {
    cursor: move;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaFileTemplate {
    margin-bottom: 7px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipaRenameTo {
    width: 400px;
}
.ipModuleRepositoryPopup .ipmTabUpload .impContainer .ipmBrowseButton {
    z-index: 99100;
}

/* Tab All */
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowser {
    margin-left: 300px;
    min-height: 295px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer {
    padding-bottom: 55px; /* space for action buttons */
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmListTitle {
    background: url(icon_clock.png) no-repeat;
    clear: both;
    color: #2f313f;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin-top: 15px;
    padding-left: 30px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmRecentTitle {
    background: none;
    font-weight: bold;
    padding-left: 0;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList {
    clear: both;
    list-style: none;
    margin: 0 0 20px -9px; /* leaving 1px for selected outline */
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList li {
    cursor: pointer;
    float: left;
    margin: 10px 0 0 10px;
    position: relative;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList li img {
    border: 1px solid #e7e7e7;
    display: block;
    height: 140px;
    width: 140px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList li:after {
    /*background: url(icon_selecting.png) no-repeat center center;*/
    content: '';
    height: 35px;
    left: 50%;
    margin: -17px;
    position: absolute;
    top: 50%;
    width: 35px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList li:hover:after {
    background: url(icon_selecting.png) no-repeat center center;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList .ui-selected img {
    border-color: #019bd4;
    outline: #019bd4 solid 1px;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmBrowserContainer .ipmList .ui-selected:after {
    background: url(icon_selected.png) no-repeat center center;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmRepositoryActions {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmRepositoryActions .ipmInner {
    background-color: #fff;
    border: 3px solid #019bd4;
    margin: 0 20px 0 300px; /* left as .ipmBrowser; right for scrollbar */
    padding: 10px 20px;
    text-align: center;
}
.ipModuleRepositoryPopup .ipmTabUpload .ipmRepositoryActions .ipmTitle {
    color: #2f313f;
    display: inline-block;
    font-size: 14px;
    line-height: 26px; /* keeping same baseline for text; absolute removes element from flow */
    position: absolute;
}

/* Tab Buy */
.ipModuleRepositoryPopup .ipmTabBuy iframe {
    overflow: hidden;
    width: 100%;
}
