
.stopScrolling {
    height: 100%;
    overflow: hidden;
}

/*
UPLOADER
*/

#ipModRepositoryDragContainer{
    height: 318px;
}

#ipModRepositoryTabUpload{
    overflow: hidden;
}


#ipModRepositoryDragContainer .ipmFile {
    margin-bottom: 10px;
}

#ipModRepositoryDragContainer .ipaButton {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}
#ipModRepositoryDragContainer .ipaFileTemplate {
    margin-bottom: 7px;
}
#ipModRepositoryDragContainer .ipaRenameTo {
    width: 400px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}

/*
RECENT
*/
#ipModRepositoryTabRecent .ipmBrowser{
    height: 305px;
    margin-bottom: 10px;
}