
.stopScrolling {
    height: 100%;
    overflow: hidden;
}

/*
UPLOADER
*/

#ipModRepositoryDragContainer{
    height: 318px;
}

#ipModRepositoryTabUpload{
    overflow: hidden;
}


#ipModRepositoryDragContainer .ipmFile {
    margin-bottom: 10px;
}

#ipModRepositoryDragContainer .ipaButton {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}
#ipModRepositoryDragContainer .ipaFileTemplate {
    margin-bottom: 7px;
}
#ipModRepositoryDragContainer .ipaRenameTo {
    width: 400px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}

/*
RECENT
*/
#ipModRepositoryTabRecent .ipmBrowser{
    height: 295px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ipModRepositoryTabRecent .ipmBrowserContainer{
    margin-left: -15px;
    margin-top: -25px;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    list-style: none;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li img{
    width: 100px;
    height: 100px;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li .name{
    float: left;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}



#ipModRepositoryTabRecent .ipmBrowserContainer .ui-selecting img{ outline: #F1C06B solid 5px; }
#ipModRepositoryTabRecent .ipmBrowserContainer .ui-selected img{ outline: #F5A417 solid 5px; } /*rgb(206, 206, 206)*/



/*
BUY
*/

/* make modal larger */
.modal {
    width:700px
}

/* put the categories in two columns */
#categories ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

/* make the thumbnail grid pretty */
.thumbnails {
    text-align: justify;
}

.thumbnails li{
    height:180px;
    display: inline-block;
    float:none;
}
