

.stopScrolling {
    height: 100%;
    overflow: hidden;
}


/*
POPUP
*/
.ipModRepositoryPopup {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99000;
    font-size: 10px;
}

.ipModRepositoryPopup .ipmBuyDialog {
    z-index:99001;
}

.ipModRepositoryPopup .ipmClose{
    margin-top: -24px;
    margin-right: 9px;
    float: right;
}

.ipModRepositoryPopup .ui-tabs{
    height: 100%;
}



/*
UPLOADER
*/

#ipModRepositoryDragContainer{
    height: 318px;
}

#ipModRepositoryTabUpload{
    overflow: hidden;
}


#ipModRepositoryDragContainer .ipmFile {
    margin-bottom: 10px;
}

#ipModRepositoryDragContainer .ipaButton {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}
#ipModRepositoryDragContainer .ipaFileTemplate {
    margin-bottom: 7px;
}
#ipModRepositoryDragContainer .ipaRenameTo {
    width: 400px;
}

#ipModRepositoryDragContainer .ipaFileMove {
    cursor: move;
}

/*
RECENT
*/
#ipModRepositoryTabRecent .ipmBrowser{
    height: 295px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ipModRepositoryTabRecent .ipmBrowserContainer{
    margin-left: -15px;
    margin-top: -25px;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    list-style: none;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li img{
    width: 100px;
    height: 100px;
}

#ipModRepositoryTabRecent .ipmBrowserContainer li .name{
    float: left;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}



#ipModRepositoryTabRecent .ipmBrowserContainer .ui-selecting img{ outline: #F1C06B solid 5px; }
#ipModRepositoryTabRecent .ipmBrowserContainer .ui-selected img{ outline: #F5A417 solid 5px; } /*rgb(206, 206, 206)*/



/*
BUY
*/
#ipModRepositoryTabBuy ul.ipmResults {
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ipModRepositoryTabBuy ul.ipmResults li {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

#ipModRepositoryTabBuy ul.ipmResults li a{
    float: left;
    height: 178px;
    width: 178px;
    background-repeat:no-repeat;
    background-position:center;
    border: 1px solid #ccc;
    padding: 3px;
}


#ipModRepositoryTabBuy .ipmPreviewDialog {
    border: 20px solid #ccc;
    background-color: #fff;
    padding: 20px;
    z-index: 99001;
    display: none;
}

#ipModRepositoryTabBuy .ipmPreviewDialog  .ipmPreviewImage {
    float: left;
}

#ipModRepositoryTabBuy .ipmPreviewDialog  .ipmPreviewDetails {
    float: left;
    margin-left: 15px;
}