a.button{
  background:transparent url(knob_background.png) repeat scroll 0 0;
  border:1px solid #FFBB44;
  color:#264971;
  cursor:pointer;
  float:left;
  font-family:Verdana,Arial,Helvetica;
  font-size:12px;
  font-weight:bold;
  margin-right:7px;
  padding:3px 10px;
  text-decoration:none;
}


a.button:hover{
 background-image: none;
 background-color: #f6e0b5;
}

div.newModule{
  border: 1px solid gray;
  background-color: #ffffdd;
  padding: 7px;
  margin-bottom: 7px;
}

div.newModule div.newModule{
  margin-left: 70px;
}


div.newModule p{
  margin-bottom: 7px;
  color: #000000;
  display: inline-block; /* ie8 bug fix*/
}
