html,body,h1,h2,h3,h4,h5,h6,blockquote,form,label,p,ul,ol,li,dl,dd,dt {
    padding: 0px;
    margin: 0px;
}

img {
    border: 0px;
}

body {
    background-color: #fbfcfc;
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    color: #707070;
}

body,html {
    min-height: 100%;
}

#logo {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.container {
    width: 100%;
    position: absolute;
    min-height: 100%;
    background: url(cms_bg.jpg) repeat-x left bottom;
}

#wrapper {
    width: 840px;
    margin: 0 auto 30px;
}

#main {
    float: right;
    width: 840px;
    background: url(cms_main_center.gif);
    padding: 5px 0;
}

img.border {
    float: right;
}


#content {
    margin: 0 23px;
}

#content td.label {
    padding-right: 50px;
    padding-bottom: 10px;
}

#content td.value {
    font-weight: bold;
    padding-bottom: 10px;
}

.error {
    color: #e73031;
}

.correct {
    color: #77ae09;
}

a.button {
    float: right;
    height: 18px;
    background: url(cms_buton.gif);
    padding: 6px 15px;
    font-family: Verdana, Arial, Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #212023;
    text-decoration: none;
    border: #a7a7aa 1px solid;
    margin-left: 14px;
    margin-top: 14px;
}

a.button_act {
    float: right;
    height: 18px;
    background: url(cms_buton.gif);
    padding: 6px 15px;
    font-family: Verdana, Arial, Helvetica;
    font-size: 14px;
    font-weight: bold;
    color: #212023;
    text-decoration: none;
    border: #00a8da 1px solid;
    margin-left: 14px;
    margin-top: 14px;
}

a.button:hover,a.button_act:hover {
    background: url(cms_button_hover.gif);
    text-decoration: none;
}

a {
    font-family: Verdana, Arial, Tahoma;
    color: #00a8da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content p {
    margin-bottom: 20px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

input,select {
    border-top: #abadb3 1px solid;
    border-right: #dbdfe6 1px solid;
    border-bottom: #e3e9ef 1px solid;
    border-left: #e2e3ea 1px solid;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
    color: #707070;
    width: 200px;
}

input.chbx {
    width: auto;
}

optgroup {
    font-weight: bold;
    font-style: normal;
}

.footer {
    height: 19px;
    background-color: #f6f8f9;
    border-top: 1px #bbbcbc solid;
    padding-top: 5px;
    text-align: center;
    font-family: "trebuchet ms", arial, verdana;
    position: absolute;
    bottom: 0px;
    clear: both;
    width: 100%;
    text-align: center;
    clear: both;
}

.footer a {
    font-family: "trebuchet ms", arial, verdana;
}

form strong {
    display: block;
    margin-bottom: 3px;
}

.noDisplay {
    display: none;
}

div.clear {
    clear: both;
}

#content li {
    margin-left: 17px;
}

.loading {
    display: block;
    height: 100px;
    background: url(loading.gif) no-repeat center center;
}
}