/* General*/
.ui-dialog .ipModuleInlineManagementPopupLogo,
.ui-dialog .ipModuleInlineManagementPopupString,
.ui-dialog .ipModuleInlineManagementPopupText,
.ui-dialog .ipModuleInlineManagementPopupImage {
    padding: 1em;
}
.ipModuleInlineManagementLogo .ipmHilite,
.ipModuleInlineManagementString.ipmHilite,
.ipModuleInlineManagementText.ipmHilite,
.ipModuleInlineManagementImage.ipmHilite {
    outline: 1px dashed #4d4d4d;
}
.ipModuleInlineManagementControls {
    display: none;
    position: absolute;
    z-index: 99;
}
.ipModuleInlineManagementControls .ipAdminWidgetControls {
    margin-top: -28px;
}
.ipModuleInlineManagementControls .ipAdminWidgetControls .ipaButton {
    visibility: visible;
}

/* Logo management */
.ipModuleInlineManagementPopupLogo .ipmType {
    font-size: 20px;
}
.ipModuleInlineManagementPopupLogo .ipmTextManagement input {
    font-size: 32px;
}
.ipModuleInlineManagementPopupLogo .ipmTypeSelect * {
    float: left;
    margin-right: 0 10px 0 0;
    font-size: 17px;
}
.ipModuleInlineManagementPopupLogo .ipmTypeSelect input {
    width: auto;
}
.ipModuleInlineManagementPopupLogo .ipUploadImageButton {
    z-index: 2500; /* plupload browser button don't work if following conditions are met: chrome, jQuery ui dialog is in modal mode. z-index fixes that */
}

/* Font selector */
.ipModuleInlineManagementPopupLogo .ipmFontSelect * { margin: 0; padding: 0; }
.ipModuleInlineManagementPopupLogo .ipmFontSelect {
    position: relative;
    padding: 3px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    margin: 3px;

    width: 200px;

    background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -o-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f9f9f9, #f0f0f0);
    background-image: linear-gradient(top, #f9f9f9, #f0f0f0);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='$from', EndColorStr='$to');
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cecece;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect span {
    overflow: hidden;
    margin-left: 5px;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect .arrow-down {
    position: absolute;
    right: 10px;
    top: 14px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 6px solid #AAA;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect ul {
    list-style: none;
    width: 200px;
    background: #f9f9f9;
    position: absolute;
    left: 0;
    top: 35px;
    height: 250px;
    overflow: auto;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;

    font-size: 14px;

    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect ul li:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

    border-bottom: 1px solid #EEEEEE;
}
.ipModuleInlineManagementPopupLogo .ipmFontSelect li:hover {
    background: #DDD;
}

/* String management */
.ipModuleInlineManagementPopupString textarea {
    width: 100%;
    height: 100px;
}

/* Image management */
.ipModuleInlineManagementPopupImage .ipUploadImageButton {
    z-index: 2500; /* plupload browser button don't work if following conditions are met: chrome, jQuery ui dialog is in modal mode. z-index fixes that */
}
.ipModuleInlineManagementPopupImage .ipaImage {
    margin-bottom: 10px;
}
