/* Edit theme.less, not this file. */ .clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after {
  clear: both;
}
html,
body {
  border: none;
  margin: 0;
  padding: 0;
}
.caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.signature {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2em;
  padding-left: 1em;
}
.button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipWidget {
  zoom: 1;
  margin-bottom: 20px;
}
.ipWidget:before,
.ipWidget:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipWidget:after {
  clear: both;
}
.ipWidget:last-child {
  margin-bottom: 0;
}
.ipPreviewWidget {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}
.ipPreviewWidget h1,
.ipPreviewWidget h2,
.ipPreviewWidget h3,
.ipPreviewWidget h4,
.ipPreviewWidget h5,
.ipPreviewWidget h6,
.ipPreviewWidget img,
.ipPreviewWidget blockquote,
.ipPreviewWidget p,
.ipPreviewWidget ul,
.ipPreviewWidget ol,
.ipPreviewWidget li,
.ipPreviewWidget dl,
.ipPreviewWidget dd,
.ipPreviewWidget dt,
.ipPreviewWidget pre {
  border: none;
  margin: 0;
  padding: 0;
}
.ipPreviewWidget .caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.ipPreviewWidget .signature {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.ipPreviewWidget .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2em;
  padding-left: 1em;
}
.ipPreviewWidget .button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.ipPreviewWidget h1 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
}
.ipPreviewWidget h2 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}
.ipPreviewWidget h3 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
}
.ipPreviewWidget ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 2em 1em;
}
.ipPreviewWidget ol {
  list-style-position: inside;
  margin: 0 0 2em 1em;
}
.ipPreviewWidget p {
  line-height: 1.5;
  margin-bottom: 2em;
}
.ipPreviewWidget ul ul,
.ipPreviewWidget ol ol {
  margin-bottom: 0;
}
.ipPreviewWidget li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.ipPreviewWidget p+ul,
.ipPreviewWidget p+ol {
  margin-top: -1em;
}
.ipPreviewWidget a {
  color: #019bd4;
  text-decoration: none;
}
.ipPreviewWidget a:hover {
  text-decoration: underline;
}
.ipPreviewWidget table {
  border-collapse: collapse;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
}
.ipPreviewWidget table p {
  line-height: auto;
  margin: 0;
}
.ipPreviewWidget td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 14px;
  padding: 9px;
}
.ipPreviewWidget th,
.ipPreviewWidget thead td,
.ipPreviewWidget tbody tr:first-child td {
  font-size: 14px;
  font-weight: bold;
}
.ipPreviewWidget thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
.ipPreviewWidget p:last-child,
.ipPreviewWidget ul:last-child,
.ipPreviewWidget ol:last-child {
  margin-bottom: 0;
}
.ipModuleForm form,
.ipModuleForm fieldset,
.ipModuleForm label {
  border: none;
  margin: 0;
  padding: 0;
}
.ipModuleForm input,
.ipModuleForm select,
.ipModuleForm textarea,
.ipModuleForm option {
  font-family: 14px;
  font-size: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.ipModuleForm .ipmPage {
  max-width: 100%;
  overflow: auto;
}
.ipModuleForm .ipmField {
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
}
.ipModuleForm .ipmField:before,
.ipModuleForm .ipmField:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmField:after {
  clear: both;
}
.ipModuleForm .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleForm .ipmType-blank {
  margin: -20px 0 0;
  position: absolute;
}
.ipModuleForm .ipmLabel {
  display: block;
  font-weight: bold;
  margin: 0 0 3px 0;
  min-height: 1px;
}
.ipModuleForm .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleForm .ipmControlInput {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlInput:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlTextarea {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  overflow: auto;
}
.ipModuleForm .ipmControlTextarea:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmControlSelect {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleForm .ipmControlSelect:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleForm .ipmType-confirm .ipmControlCheckbox {
  float: left;
}
.ipModuleForm .ipmControlConfirmOptions {
  margin-left: 25px;
}
.ipModuleForm .ipmType-captcha .ipmControl img {
  display: block;
  max-width: 100%;
}
.ipModuleForm .ipmNote {
  color: #333333;
  font-size: 12px;
}
.ipModuleForm .ipmHint {
  background-color: #747474;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.ipModuleForm .ipmField:hover .ipmHint {
  display: block;
}
.ipModuleForm .ipmControlSubmit {
  background: #019bd4;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
}
.ipModuleForm .ipmControlSubmit:hover {
  box-shadow: 0 0 0 1px #019bd4 inset;
  background: #01516e;
}
.ipModuleForm .ipmControlError {
  border-color: #b80000;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleForm .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleForm .ipmFileContainer .ipmFile {
  background-color: #a7a7a7;
  margin-top: 5px;
  padding: 0.5em;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove {
  cursor: pointer;
  float: right;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:before {
  border: 1px solid #747474;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #000;
  content: '\00D7';
  display: inline-block;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmRemove:hover:before {
  background-color: #000;
  color: #fff;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgress {
  border: 1px solid #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmFileProgressValue {
  background-color: #747474;
  height: 3px;
}
.ipModuleForm .ipmFileContainer .ipmFile .ipmUploadError {
  color: #b80000;
  font-size: 12px;
}
.ipmErrorMessage {
  background-color: #b80000;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px 2px;
}
.mceContentBody {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fff;
}
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6,
.mceContentBody img,
.mceContentBody blockquote,
.mceContentBody p,
.mceContentBody ul,
.mceContentBody ol,
.mceContentBody li,
.mceContentBody dl,
.mceContentBody dd,
.mceContentBody dt,
.mceContentBody pre {
  border: none;
  margin: 0;
  padding: 0;
}
.mceContentBody .caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.mceContentBody .signature {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.mceContentBody .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2em;
  padding-left: 1em;
}
.mceContentBody .button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.mceContentBody h1 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
}
.mceContentBody h2 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
}
.mceContentBody h3 {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
}
.mceContentBody ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 0 0 2em 1em;
}
.mceContentBody ol {
  list-style-position: inside;
  margin: 0 0 2em 1em;
}
.mceContentBody p {
  line-height: 1.5;
  margin-bottom: 2em;
}
.mceContentBody ul ul,
.mceContentBody ol ol {
  margin-bottom: 0;
}
.mceContentBody li {
  line-height: 1.5;
  margin-bottom: 5px;
}
.mceContentBody p+ul,
.mceContentBody p+ol {
  margin-top: -1em;
}
.mceContentBody a {
  color: #019bd4;
  text-decoration: none;
}
.mceContentBody a:hover {
  text-decoration: underline;
}
.mceContentBody table {
  border-collapse: collapse;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
}
.mceContentBody table p {
  line-height: auto;
  margin: 0;
}
.mceContentBody td {
  border-bottom: 1px solid #b2b2b2;
  font-size: 14px;
  padding: 9px;
}
.mceContentBody th,
.mceContentBody thead td,
.mceContentBody tbody tr:first-child td {
  font-size: 14px;
  font-weight: bold;
}
.mceContentBody thead+tbody tr:first-child td {
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
.mceContentBody p:last-child,
.mceContentBody ul:last-child,
.mceContentBody ol:last-child {
  margin-bottom: 0;
}
.ipWidget-IpFaq {
  padding-left: 30px;
}
.ipWidget-IpFaq .ipwQuestion {
  color: #000;
  cursor: pointer;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  text-decoration: none;
}
.ipWidget-IpFaq .ipwQuestion:hover {
  text-decoration: underline;
}
.ipWidget-IpFaq .ipwQuestion:hover:before {
  background-color: #f3f3f3;
}
.ipWidget-IpFaq .ipwQuestion:before {
  border: 1px solid #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  content: '?';
  display: block;
  margin: 3px 0 0 -30px;
  padding: 1px 2px;
  position: absolute;
}
.ipWidget-IpFaq .ipwQuestion .ipwAnswer {
  margin-top: 5px;
}
.ipWidget-IpFaq .ipwQuestion .ipwCollapsed .ipwAnswer {
  display: none;
}
.ipWidget-IpFaq .ipwExpanded .ipwQuestion:before {
  background-color: #000;
  color: #fff;
}
.ipWidget-IpFile ul {
  list-style: none;
  margin-left: 0;
}
.ipWidget-IpFile a {
  color: #019bd4;
  font-weight: bold;
}
.ipWidget-IpFile a:hover {
  text-decoration: underline;
}
.ipWidget-IpForm .ipwSuccess {
  border: 1px solid #888;
  display: none;
  padding: 20px 25px;
}
.ipWidget-IpHtml {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpImage img {
  display: block;
  max-width: 100%;
}
.ipWidget-IpImageGallery {
  margin-bottom: 0px;
}
.ipWidget-IpImageGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpImageGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpImageGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpImageGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpImageGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpLogoGallery {
  margin-bottom: 0px;
}
.ipWidget-IpLogoGallery ul {
  list-style: none;
  margin: 0 -10px;
}
.ipWidget-IpLogoGallery li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 25%;
}
.ipWidget-IpLogoGallery li img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .ipWidget-IpLogoGallery ul {
    margin: 0 -10px;
  }
  .ipWidget-IpLogoGallery li {
    width: 50%;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.ipWidget-IpRichText pre {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpSeparator.ipLayout-default {
  border-bottom: 1px solid #747474;
  height: 0;
  overflow: hidden;
}
.ipWidget-IpSeparator.ipLayout-space {
  height: 25px;
}
.ipWidget-IpTable {
  max-width: 100%;
  overflow: auto;
}
.ipWidget-IpTextImage .ipwImage {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}
.ipWidget-IpTextImage.ipLayout-right .ipwImage {
  float: right;
  margin: 0 0 20px 20px;
}
.ipWidget-IpTitle {
  margin-bottom: 10px;
  padding-top: 10px;
}
.ipWidget-IpTitle:first-child {
  padding-top: 0;
}
[class^="col_"],
[class*=" col_"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  margin-bottom: 20px;
  padding: 0 10px;
  position: relative;
}
[class^="col_"] .grid,
[class*=" col_"] .grid {
  margin: 0 -10px;
}
.hidden {
  display: none !important;
}
.col_1 {
  width: 8.3333333333333%;
}
.col_1 .col_1 {
  width: 100%;
}
.col_1 .col_2 {
  width: 200%;
}
.col_1 .col_3 {
  width: 300%;
}
.col_1 .col_4 {
  width: 400%;
}
.col_1 .col_5 {
  width: 500%;
}
.col_1 .col_6 {
  width: 600%;
}
.col_1 .col_7 {
  width: 700%;
}
.col_1 .col_8 {
  width: 800%;
}
.col_1 .col_9 {
  width: 900%;
}
.col_1 .col_10 {
  width: 1000%;
}
.col_1 .col_11 {
  width: 1100%;
}
.col_1 .col_12 {
  width: 1200%;
}
.col_2 {
  width: 16.666666666667%;
}
.col_2 .col_1 {
  width: 50%;
}
.col_2 .col_2 {
  width: 100%;
}
.col_2 .col_3 {
  width: 150%;
}
.col_2 .col_4 {
  width: 200%;
}
.col_2 .col_5 {
  width: 250%;
}
.col_2 .col_6 {
  width: 300%;
}
.col_2 .col_7 {
  width: 350%;
}
.col_2 .col_8 {
  width: 400%;
}
.col_2 .col_9 {
  width: 450%;
}
.col_2 .col_10 {
  width: 500%;
}
.col_2 .col_11 {
  width: 550%;
}
.col_2 .col_12 {
  width: 600%;
}
.col_3 {
  width: 25%;
}
.col_3 .col_1 {
  width: 33.333333333333%;
}
.col_3 .col_2 {
  width: 66.666666666667%;
}
.col_3 .col_3 {
  width: 100%;
}
.col_3 .col_4 {
  width: 133.33333333333%;
}
.col_3 .col_5 {
  width: 166.66666666667%;
}
.col_3 .col_6 {
  width: 200%;
}
.col_3 .col_7 {
  width: 233.33333333333%;
}
.col_3 .col_8 {
  width: 266.66666666667%;
}
.col_3 .col_9 {
  width: 300%;
}
.col_3 .col_10 {
  width: 333.33333333333%;
}
.col_3 .col_11 {
  width: 366.66666666667%;
}
.col_3 .col_12 {
  width: 400%;
}
.col_4 {
  width: 33.333333333333%;
}
.col_4 .col_1 {
  width: 25%;
}
.col_4 .col_2 {
  width: 50%;
}
.col_4 .col_3 {
  width: 75%;
}
.col_4 .col_4 {
  width: 100%;
}
.col_4 .col_5 {
  width: 125%;
}
.col_4 .col_6 {
  width: 150%;
}
.col_4 .col_7 {
  width: 175%;
}
.col_4 .col_8 {
  width: 200%;
}
.col_4 .col_9 {
  width: 225%;
}
.col_4 .col_10 {
  width: 250%;
}
.col_4 .col_11 {
  width: 275%;
}
.col_4 .col_12 {
  width: 300%;
}
.col_5 {
  width: 41.666666666667%;
}
.col_5 .col_1 {
  width: 20%;
}
.col_5 .col_2 {
  width: 40%;
}
.col_5 .col_3 {
  width: 60%;
}
.col_5 .col_4 {
  width: 80%;
}
.col_5 .col_5 {
  width: 100%;
}
.col_5 .col_6 {
  width: 120%;
}
.col_5 .col_7 {
  width: 140%;
}
.col_5 .col_8 {
  width: 160%;
}
.col_5 .col_9 {
  width: 180%;
}
.col_5 .col_10 {
  width: 200%;
}
.col_5 .col_11 {
  width: 220%;
}
.col_5 .col_12 {
  width: 240%;
}
.col_6 {
  width: 50%;
}
.col_6 .col_1 {
  width: 16.666666666667%;
}
.col_6 .col_2 {
  width: 33.333333333333%;
}
.col_6 .col_3 {
  width: 50%;
}
.col_6 .col_4 {
  width: 66.666666666667%;
}
.col_6 .col_5 {
  width: 83.333333333333%;
}
.col_6 .col_6 {
  width: 100%;
}
.col_6 .col_7 {
  width: 116.66666666667%;
}
.col_6 .col_8 {
  width: 133.33333333333%;
}
.col_6 .col_9 {
  width: 150%;
}
.col_6 .col_10 {
  width: 166.66666666667%;
}
.col_6 .col_11 {
  width: 183.33333333333%;
}
.col_6 .col_12 {
  width: 200%;
}
.col_7 {
  width: 58.333333333333%;
}
.col_7 .col_1 {
  width: 14.285714285714%;
}
.col_7 .col_2 {
  width: 28.571428571429%;
}
.col_7 .col_3 {
  width: 42.857142857143%;
}
.col_7 .col_4 {
  width: 57.142857142857%;
}
.col_7 .col_5 {
  width: 71.428571428571%;
}
.col_7 .col_6 {
  width: 85.714285714286%;
}
.col_7 .col_7 {
  width: 100%;
}
.col_7 .col_8 {
  width: 114.28571428571%;
}
.col_7 .col_9 {
  width: 128.57142857143%;
}
.col_7 .col_10 {
  width: 142.85714285714%;
}
.col_7 .col_11 {
  width: 157.14285714286%;
}
.col_7 .col_12 {
  width: 171.42857142857%;
}
.col_8 {
  width: 66.666666666667%;
}
.col_8 .col_1 {
  width: 12.5%;
}
.col_8 .col_2 {
  width: 25%;
}
.col_8 .col_3 {
  width: 37.5%;
}
.col_8 .col_4 {
  width: 50%;
}
.col_8 .col_5 {
  width: 62.5%;
}
.col_8 .col_6 {
  width: 75%;
}
.col_8 .col_7 {
  width: 87.5%;
}
.col_8 .col_8 {
  width: 100%;
}
.col_8 .col_9 {
  width: 112.5%;
}
.col_8 .col_10 {
  width: 125%;
}
.col_8 .col_11 {
  width: 137.5%;
}
.col_8 .col_12 {
  width: 150%;
}
.col_9 {
  width: 75%;
}
.col_9 .col_1 {
  width: 11.111111111111%;
}
.col_9 .col_2 {
  width: 22.222222222222%;
}
.col_9 .col_3 {
  width: 33.333333333333%;
}
.col_9 .col_4 {
  width: 44.444444444444%;
}
.col_9 .col_5 {
  width: 55.555555555556%;
}
.col_9 .col_6 {
  width: 66.666666666667%;
}
.col_9 .col_7 {
  width: 77.777777777778%;
}
.col_9 .col_8 {
  width: 88.888888888889%;
}
.col_9 .col_9 {
  width: 100%;
}
.col_9 .col_10 {
  width: 111.11111111111%;
}
.col_9 .col_11 {
  width: 122.22222222222%;
}
.col_9 .col_12 {
  width: 133.33333333333%;
}
.col_10 {
  width: 83.333333333333%;
}
.col_10 .col_1 {
  width: 10%;
}
.col_10 .col_2 {
  width: 20%;
}
.col_10 .col_3 {
  width: 30%;
}
.col_10 .col_4 {
  width: 40%;
}
.col_10 .col_5 {
  width: 50%;
}
.col_10 .col_6 {
  width: 60%;
}
.col_10 .col_7 {
  width: 70%;
}
.col_10 .col_8 {
  width: 80%;
}
.col_10 .col_9 {
  width: 90%;
}
.col_10 .col_10 {
  width: 100%;
}
.col_10 .col_11 {
  width: 110%;
}
.col_10 .col_12 {
  width: 120%;
}
.col_11 {
  width: 91.666666666667%;
}
.col_11 .col_1 {
  width: 9.0909090909091%;
}
.col_11 .col_2 {
  width: 18.181818181818%;
}
.col_11 .col_3 {
  width: 27.272727272727%;
}
.col_11 .col_4 {
  width: 36.363636363636%;
}
.col_11 .col_5 {
  width: 45.454545454545%;
}
.col_11 .col_6 {
  width: 54.545454545455%;
}
.col_11 .col_7 {
  width: 63.636363636364%;
}
.col_11 .col_8 {
  width: 72.727272727273%;
}
.col_11 .col_9 {
  width: 81.818181818182%;
}
.col_11 .col_10 {
  width: 90.909090909091%;
}
.col_11 .col_11 {
  width: 100%;
}
.col_11 .col_12 {
  width: 109.09090909091%;
}
.col_12 {
  width: 100%;
}
.col_12 .col_1 {
  width: 8.3333333333333%;
}
.col_12 .col_2 {
  width: 16.666666666667%;
}
.col_12 .col_3 {
  width: 25%;
}
.col_12 .col_4 {
  width: 33.333333333333%;
}
.col_12 .col_5 {
  width: 41.666666666667%;
}
.col_12 .col_6 {
  width: 50%;
}
.col_12 .col_7 {
  width: 58.333333333333%;
}
.col_12 .col_8 {
  width: 66.666666666667%;
}
.col_12 .col_9 {
  width: 75%;
}
.col_12 .col_10 {
  width: 83.333333333333%;
}
.col_12 .col_11 {
  width: 91.666666666667%;
}
.col_12 .col_12 {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .hidden_md {
    display: none !important;
  }
  .col_md_1 {
    width: 8.3333333333333%;
  }
  .col_md_1 .col_md_1 {
    width: 100%;
  }
  .col_md_1 .col_md_2 {
    width: 200%;
  }
  .col_md_1 .col_md_3 {
    width: 300%;
  }
  .col_md_1 .col_md_4 {
    width: 400%;
  }
  .col_md_1 .col_md_5 {
    width: 500%;
  }
  .col_md_1 .col_md_6 {
    width: 600%;
  }
  .col_md_1 .col_md_7 {
    width: 700%;
  }
  .col_md_1 .col_md_8 {
    width: 800%;
  }
  .col_md_1 .col_md_9 {
    width: 900%;
  }
  .col_md_1 .col_md_10 {
    width: 1000%;
  }
  .col_md_1 .col_md_11 {
    width: 1100%;
  }
  .col_md_1 .col_md_12 {
    width: 1200%;
  }
  .col_md_2 {
    width: 16.666666666667%;
  }
  .col_md_2 .col_md_1 {
    width: 50%;
  }
  .col_md_2 .col_md_2 {
    width: 100%;
  }
  .col_md_2 .col_md_3 {
    width: 150%;
  }
  .col_md_2 .col_md_4 {
    width: 200%;
  }
  .col_md_2 .col_md_5 {
    width: 250%;
  }
  .col_md_2 .col_md_6 {
    width: 300%;
  }
  .col_md_2 .col_md_7 {
    width: 350%;
  }
  .col_md_2 .col_md_8 {
    width: 400%;
  }
  .col_md_2 .col_md_9 {
    width: 450%;
  }
  .col_md_2 .col_md_10 {
    width: 500%;
  }
  .col_md_2 .col_md_11 {
    width: 550%;
  }
  .col_md_2 .col_md_12 {
    width: 600%;
  }
  .col_md_3 {
    width: 25%;
  }
  .col_md_3 .col_md_1 {
    width: 33.333333333333%;
  }
  .col_md_3 .col_md_2 {
    width: 66.666666666667%;
  }
  .col_md_3 .col_md_3 {
    width: 100%;
  }
  .col_md_3 .col_md_4 {
    width: 133.33333333333%;
  }
  .col_md_3 .col_md_5 {
    width: 166.66666666667%;
  }
  .col_md_3 .col_md_6 {
    width: 200%;
  }
  .col_md_3 .col_md_7 {
    width: 233.33333333333%;
  }
  .col_md_3 .col_md_8 {
    width: 266.66666666667%;
  }
  .col_md_3 .col_md_9 {
    width: 300%;
  }
  .col_md_3 .col_md_10 {
    width: 333.33333333333%;
  }
  .col_md_3 .col_md_11 {
    width: 366.66666666667%;
  }
  .col_md_3 .col_md_12 {
    width: 400%;
  }
  .col_md_4 {
    width: 33.333333333333%;
  }
  .col_md_4 .col_md_1 {
    width: 25%;
  }
  .col_md_4 .col_md_2 {
    width: 50%;
  }
  .col_md_4 .col_md_3 {
    width: 75%;
  }
  .col_md_4 .col_md_4 {
    width: 100%;
  }
  .col_md_4 .col_md_5 {
    width: 125%;
  }
  .col_md_4 .col_md_6 {
    width: 150%;
  }
  .col_md_4 .col_md_7 {
    width: 175%;
  }
  .col_md_4 .col_md_8 {
    width: 200%;
  }
  .col_md_4 .col_md_9 {
    width: 225%;
  }
  .col_md_4 .col_md_10 {
    width: 250%;
  }
  .col_md_4 .col_md_11 {
    width: 275%;
  }
  .col_md_4 .col_md_12 {
    width: 300%;
  }
  .col_md_5 {
    width: 41.666666666667%;
  }
  .col_md_5 .col_md_1 {
    width: 20%;
  }
  .col_md_5 .col_md_2 {
    width: 40%;
  }
  .col_md_5 .col_md_3 {
    width: 60%;
  }
  .col_md_5 .col_md_4 {
    width: 80%;
  }
  .col_md_5 .col_md_5 {
    width: 100%;
  }
  .col_md_5 .col_md_6 {
    width: 120%;
  }
  .col_md_5 .col_md_7 {
    width: 140%;
  }
  .col_md_5 .col_md_8 {
    width: 160%;
  }
  .col_md_5 .col_md_9 {
    width: 180%;
  }
  .col_md_5 .col_md_10 {
    width: 200%;
  }
  .col_md_5 .col_md_11 {
    width: 220%;
  }
  .col_md_5 .col_md_12 {
    width: 240%;
  }
  .col_md_6 {
    width: 50%;
  }
  .col_md_6 .col_md_1 {
    width: 16.666666666667%;
  }
  .col_md_6 .col_md_2 {
    width: 33.333333333333%;
  }
  .col_md_6 .col_md_3 {
    width: 50%;
  }
  .col_md_6 .col_md_4 {
    width: 66.666666666667%;
  }
  .col_md_6 .col_md_5 {
    width: 83.333333333333%;
  }
  .col_md_6 .col_md_6 {
    width: 100%;
  }
  .col_md_6 .col_md_7 {
    width: 116.66666666667%;
  }
  .col_md_6 .col_md_8 {
    width: 133.33333333333%;
  }
  .col_md_6 .col_md_9 {
    width: 150%;
  }
  .col_md_6 .col_md_10 {
    width: 166.66666666667%;
  }
  .col_md_6 .col_md_11 {
    width: 183.33333333333%;
  }
  .col_md_6 .col_md_12 {
    width: 200%;
  }
  .col_md_7 {
    width: 58.333333333333%;
  }
  .col_md_7 .col_md_1 {
    width: 14.285714285714%;
  }
  .col_md_7 .col_md_2 {
    width: 28.571428571429%;
  }
  .col_md_7 .col_md_3 {
    width: 42.857142857143%;
  }
  .col_md_7 .col_md_4 {
    width: 57.142857142857%;
  }
  .col_md_7 .col_md_5 {
    width: 71.428571428571%;
  }
  .col_md_7 .col_md_6 {
    width: 85.714285714286%;
  }
  .col_md_7 .col_md_7 {
    width: 100%;
  }
  .col_md_7 .col_md_8 {
    width: 114.28571428571%;
  }
  .col_md_7 .col_md_9 {
    width: 128.57142857143%;
  }
  .col_md_7 .col_md_10 {
    width: 142.85714285714%;
  }
  .col_md_7 .col_md_11 {
    width: 157.14285714286%;
  }
  .col_md_7 .col_md_12 {
    width: 171.42857142857%;
  }
  .col_md_8 {
    width: 66.666666666667%;
  }
  .col_md_8 .col_md_1 {
    width: 12.5%;
  }
  .col_md_8 .col_md_2 {
    width: 25%;
  }
  .col_md_8 .col_md_3 {
    width: 37.5%;
  }
  .col_md_8 .col_md_4 {
    width: 50%;
  }
  .col_md_8 .col_md_5 {
    width: 62.5%;
  }
  .col_md_8 .col_md_6 {
    width: 75%;
  }
  .col_md_8 .col_md_7 {
    width: 87.5%;
  }
  .col_md_8 .col_md_8 {
    width: 100%;
  }
  .col_md_8 .col_md_9 {
    width: 112.5%;
  }
  .col_md_8 .col_md_10 {
    width: 125%;
  }
  .col_md_8 .col_md_11 {
    width: 137.5%;
  }
  .col_md_8 .col_md_12 {
    width: 150%;
  }
  .col_md_9 {
    width: 75%;
  }
  .col_md_9 .col_md_1 {
    width: 11.111111111111%;
  }
  .col_md_9 .col_md_2 {
    width: 22.222222222222%;
  }
  .col_md_9 .col_md_3 {
    width: 33.333333333333%;
  }
  .col_md_9 .col_md_4 {
    width: 44.444444444444%;
  }
  .col_md_9 .col_md_5 {
    width: 55.555555555556%;
  }
  .col_md_9 .col_md_6 {
    width: 66.666666666667%;
  }
  .col_md_9 .col_md_7 {
    width: 77.777777777778%;
  }
  .col_md_9 .col_md_8 {
    width: 88.888888888889%;
  }
  .col_md_9 .col_md_9 {
    width: 100%;
  }
  .col_md_9 .col_md_10 {
    width: 111.11111111111%;
  }
  .col_md_9 .col_md_11 {
    width: 122.22222222222%;
  }
  .col_md_9 .col_md_12 {
    width: 133.33333333333%;
  }
  .col_md_10 {
    width: 83.333333333333%;
  }
  .col_md_10 .col_md_1 {
    width: 10%;
  }
  .col_md_10 .col_md_2 {
    width: 20%;
  }
  .col_md_10 .col_md_3 {
    width: 30%;
  }
  .col_md_10 .col_md_4 {
    width: 40%;
  }
  .col_md_10 .col_md_5 {
    width: 50%;
  }
  .col_md_10 .col_md_6 {
    width: 60%;
  }
  .col_md_10 .col_md_7 {
    width: 70%;
  }
  .col_md_10 .col_md_8 {
    width: 80%;
  }
  .col_md_10 .col_md_9 {
    width: 90%;
  }
  .col_md_10 .col_md_10 {
    width: 100%;
  }
  .col_md_10 .col_md_11 {
    width: 110%;
  }
  .col_md_10 .col_md_12 {
    width: 120%;
  }
  .col_md_11 {
    width: 91.666666666667%;
  }
  .col_md_11 .col_md_1 {
    width: 9.0909090909091%;
  }
  .col_md_11 .col_md_2 {
    width: 18.181818181818%;
  }
  .col_md_11 .col_md_3 {
    width: 27.272727272727%;
  }
  .col_md_11 .col_md_4 {
    width: 36.363636363636%;
  }
  .col_md_11 .col_md_5 {
    width: 45.454545454545%;
  }
  .col_md_11 .col_md_6 {
    width: 54.545454545455%;
  }
  .col_md_11 .col_md_7 {
    width: 63.636363636364%;
  }
  .col_md_11 .col_md_8 {
    width: 72.727272727273%;
  }
  .col_md_11 .col_md_9 {
    width: 81.818181818182%;
  }
  .col_md_11 .col_md_10 {
    width: 90.909090909091%;
  }
  .col_md_11 .col_md_11 {
    width: 100%;
  }
  .col_md_11 .col_md_12 {
    width: 109.09090909091%;
  }
  .col_md_12 {
    width: 100%;
  }
  .col_md_12 .col_md_1 {
    width: 8.3333333333333%;
  }
  .col_md_12 .col_md_2 {
    width: 16.666666666667%;
  }
  .col_md_12 .col_md_3 {
    width: 25%;
  }
  .col_md_12 .col_md_4 {
    width: 33.333333333333%;
  }
  .col_md_12 .col_md_5 {
    width: 41.666666666667%;
  }
  .col_md_12 .col_md_6 {
    width: 50%;
  }
  .col_md_12 .col_md_7 {
    width: 58.333333333333%;
  }
  .col_md_12 .col_md_8 {
    width: 66.666666666667%;
  }
  .col_md_12 .col_md_9 {
    width: 75%;
  }
  .col_md_12 .col_md_10 {
    width: 83.333333333333%;
  }
  .col_md_12 .col_md_11 {
    width: 91.666666666667%;
  }
  .col_md_12 .col_md_12 {
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  .hidden_lg {
    display: none !important;
  }
  .col_lg_1 {
    width: 8.3333333333333%;
  }
  .col_lg_1 .col_lg_1 {
    width: 100%;
  }
  .col_lg_1 .col_lg_2 {
    width: 200%;
  }
  .col_lg_1 .col_lg_3 {
    width: 300%;
  }
  .col_lg_1 .col_lg_4 {
    width: 400%;
  }
  .col_lg_1 .col_lg_5 {
    width: 500%;
  }
  .col_lg_1 .col_lg_6 {
    width: 600%;
  }
  .col_lg_1 .col_lg_7 {
    width: 700%;
  }
  .col_lg_1 .col_lg_8 {
    width: 800%;
  }
  .col_lg_1 .col_lg_9 {
    width: 900%;
  }
  .col_lg_1 .col_lg_10 {
    width: 1000%;
  }
  .col_lg_1 .col_lg_11 {
    width: 1100%;
  }
  .col_lg_1 .col_lg_12 {
    width: 1200%;
  }
  .col_lg_2 {
    width: 16.666666666667%;
  }
  .col_lg_2 .col_lg_1 {
    width: 50%;
  }
  .col_lg_2 .col_lg_2 {
    width: 100%;
  }
  .col_lg_2 .col_lg_3 {
    width: 150%;
  }
  .col_lg_2 .col_lg_4 {
    width: 200%;
  }
  .col_lg_2 .col_lg_5 {
    width: 250%;
  }
  .col_lg_2 .col_lg_6 {
    width: 300%;
  }
  .col_lg_2 .col_lg_7 {
    width: 350%;
  }
  .col_lg_2 .col_lg_8 {
    width: 400%;
  }
  .col_lg_2 .col_lg_9 {
    width: 450%;
  }
  .col_lg_2 .col_lg_10 {
    width: 500%;
  }
  .col_lg_2 .col_lg_11 {
    width: 550%;
  }
  .col_lg_2 .col_lg_12 {
    width: 600%;
  }
  .col_lg_3 {
    width: 25%;
  }
  .col_lg_3 .col_lg_1 {
    width: 33.333333333333%;
  }
  .col_lg_3 .col_lg_2 {
    width: 66.666666666667%;
  }
  .col_lg_3 .col_lg_3 {
    width: 100%;
  }
  .col_lg_3 .col_lg_4 {
    width: 133.33333333333%;
  }
  .col_lg_3 .col_lg_5 {
    width: 166.66666666667%;
  }
  .col_lg_3 .col_lg_6 {
    width: 200%;
  }
  .col_lg_3 .col_lg_7 {
    width: 233.33333333333%;
  }
  .col_lg_3 .col_lg_8 {
    width: 266.66666666667%;
  }
  .col_lg_3 .col_lg_9 {
    width: 300%;
  }
  .col_lg_3 .col_lg_10 {
    width: 333.33333333333%;
  }
  .col_lg_3 .col_lg_11 {
    width: 366.66666666667%;
  }
  .col_lg_3 .col_lg_12 {
    width: 400%;
  }
  .col_lg_4 {
    width: 33.333333333333%;
  }
  .col_lg_4 .col_lg_1 {
    width: 25%;
  }
  .col_lg_4 .col_lg_2 {
    width: 50%;
  }
  .col_lg_4 .col_lg_3 {
    width: 75%;
  }
  .col_lg_4 .col_lg_4 {
    width: 100%;
  }
  .col_lg_4 .col_lg_5 {
    width: 125%;
  }
  .col_lg_4 .col_lg_6 {
    width: 150%;
  }
  .col_lg_4 .col_lg_7 {
    width: 175%;
  }
  .col_lg_4 .col_lg_8 {
    width: 200%;
  }
  .col_lg_4 .col_lg_9 {
    width: 225%;
  }
  .col_lg_4 .col_lg_10 {
    width: 250%;
  }
  .col_lg_4 .col_lg_11 {
    width: 275%;
  }
  .col_lg_4 .col_lg_12 {
    width: 300%;
  }
  .col_lg_5 {
    width: 41.666666666667%;
  }
  .col_lg_5 .col_lg_1 {
    width: 20%;
  }
  .col_lg_5 .col_lg_2 {
    width: 40%;
  }
  .col_lg_5 .col_lg_3 {
    width: 60%;
  }
  .col_lg_5 .col_lg_4 {
    width: 80%;
  }
  .col_lg_5 .col_lg_5 {
    width: 100%;
  }
  .col_lg_5 .col_lg_6 {
    width: 120%;
  }
  .col_lg_5 .col_lg_7 {
    width: 140%;
  }
  .col_lg_5 .col_lg_8 {
    width: 160%;
  }
  .col_lg_5 .col_lg_9 {
    width: 180%;
  }
  .col_lg_5 .col_lg_10 {
    width: 200%;
  }
  .col_lg_5 .col_lg_11 {
    width: 220%;
  }
  .col_lg_5 .col_lg_12 {
    width: 240%;
  }
  .col_lg_6 {
    width: 50%;
  }
  .col_lg_6 .col_lg_1 {
    width: 16.666666666667%;
  }
  .col_lg_6 .col_lg_2 {
    width: 33.333333333333%;
  }
  .col_lg_6 .col_lg_3 {
    width: 50%;
  }
  .col_lg_6 .col_lg_4 {
    width: 66.666666666667%;
  }
  .col_lg_6 .col_lg_5 {
    width: 83.333333333333%;
  }
  .col_lg_6 .col_lg_6 {
    width: 100%;
  }
  .col_lg_6 .col_lg_7 {
    width: 116.66666666667%;
  }
  .col_lg_6 .col_lg_8 {
    width: 133.33333333333%;
  }
  .col_lg_6 .col_lg_9 {
    width: 150%;
  }
  .col_lg_6 .col_lg_10 {
    width: 166.66666666667%;
  }
  .col_lg_6 .col_lg_11 {
    width: 183.33333333333%;
  }
  .col_lg_6 .col_lg_12 {
    width: 200%;
  }
  .col_lg_7 {
    width: 58.333333333333%;
  }
  .col_lg_7 .col_lg_1 {
    width: 14.285714285714%;
  }
  .col_lg_7 .col_lg_2 {
    width: 28.571428571429%;
  }
  .col_lg_7 .col_lg_3 {
    width: 42.857142857143%;
  }
  .col_lg_7 .col_lg_4 {
    width: 57.142857142857%;
  }
  .col_lg_7 .col_lg_5 {
    width: 71.428571428571%;
  }
  .col_lg_7 .col_lg_6 {
    width: 85.714285714286%;
  }
  .col_lg_7 .col_lg_7 {
    width: 100%;
  }
  .col_lg_7 .col_lg_8 {
    width: 114.28571428571%;
  }
  .col_lg_7 .col_lg_9 {
    width: 128.57142857143%;
  }
  .col_lg_7 .col_lg_10 {
    width: 142.85714285714%;
  }
  .col_lg_7 .col_lg_11 {
    width: 157.14285714286%;
  }
  .col_lg_7 .col_lg_12 {
    width: 171.42857142857%;
  }
  .col_lg_8 {
    width: 66.666666666667%;
  }
  .col_lg_8 .col_lg_1 {
    width: 12.5%;
  }
  .col_lg_8 .col_lg_2 {
    width: 25%;
  }
  .col_lg_8 .col_lg_3 {
    width: 37.5%;
  }
  .col_lg_8 .col_lg_4 {
    width: 50%;
  }
  .col_lg_8 .col_lg_5 {
    width: 62.5%;
  }
  .col_lg_8 .col_lg_6 {
    width: 75%;
  }
  .col_lg_8 .col_lg_7 {
    width: 87.5%;
  }
  .col_lg_8 .col_lg_8 {
    width: 100%;
  }
  .col_lg_8 .col_lg_9 {
    width: 112.5%;
  }
  .col_lg_8 .col_lg_10 {
    width: 125%;
  }
  .col_lg_8 .col_lg_11 {
    width: 137.5%;
  }
  .col_lg_8 .col_lg_12 {
    width: 150%;
  }
  .col_lg_9 {
    width: 75%;
  }
  .col_lg_9 .col_lg_1 {
    width: 11.111111111111%;
  }
  .col_lg_9 .col_lg_2 {
    width: 22.222222222222%;
  }
  .col_lg_9 .col_lg_3 {
    width: 33.333333333333%;
  }
  .col_lg_9 .col_lg_4 {
    width: 44.444444444444%;
  }
  .col_lg_9 .col_lg_5 {
    width: 55.555555555556%;
  }
  .col_lg_9 .col_lg_6 {
    width: 66.666666666667%;
  }
  .col_lg_9 .col_lg_7 {
    width: 77.777777777778%;
  }
  .col_lg_9 .col_lg_8 {
    width: 88.888888888889%;
  }
  .col_lg_9 .col_lg_9 {
    width: 100%;
  }
  .col_lg_9 .col_lg_10 {
    width: 111.11111111111%;
  }
  .col_lg_9 .col_lg_11 {
    width: 122.22222222222%;
  }
  .col_lg_9 .col_lg_12 {
    width: 133.33333333333%;
  }
  .col_lg_10 {
    width: 83.333333333333%;
  }
  .col_lg_10 .col_lg_1 {
    width: 10%;
  }
  .col_lg_10 .col_lg_2 {
    width: 20%;
  }
  .col_lg_10 .col_lg_3 {
    width: 30%;
  }
  .col_lg_10 .col_lg_4 {
    width: 40%;
  }
  .col_lg_10 .col_lg_5 {
    width: 50%;
  }
  .col_lg_10 .col_lg_6 {
    width: 60%;
  }
  .col_lg_10 .col_lg_7 {
    width: 70%;
  }
  .col_lg_10 .col_lg_8 {
    width: 80%;
  }
  .col_lg_10 .col_lg_9 {
    width: 90%;
  }
  .col_lg_10 .col_lg_10 {
    width: 100%;
  }
  .col_lg_10 .col_lg_11 {
    width: 110%;
  }
  .col_lg_10 .col_lg_12 {
    width: 120%;
  }
  .col_lg_11 {
    width: 91.666666666667%;
  }
  .col_lg_11 .col_lg_1 {
    width: 9.0909090909091%;
  }
  .col_lg_11 .col_lg_2 {
    width: 18.181818181818%;
  }
  .col_lg_11 .col_lg_3 {
    width: 27.272727272727%;
  }
  .col_lg_11 .col_lg_4 {
    width: 36.363636363636%;
  }
  .col_lg_11 .col_lg_5 {
    width: 45.454545454545%;
  }
  .col_lg_11 .col_lg_6 {
    width: 54.545454545455%;
  }
  .col_lg_11 .col_lg_7 {
    width: 63.636363636364%;
  }
  .col_lg_11 .col_lg_8 {
    width: 72.727272727273%;
  }
  .col_lg_11 .col_lg_9 {
    width: 81.818181818182%;
  }
  .col_lg_11 .col_lg_10 {
    width: 90.909090909091%;
  }
  .col_lg_11 .col_lg_11 {
    width: 100%;
  }
  .col_lg_11 .col_lg_12 {
    width: 109.09090909091%;
  }
  .col_lg_12 {
    width: 100%;
  }
  .col_lg_12 .col_lg_1 {
    width: 8.3333333333333%;
  }
  .col_lg_12 .col_lg_2 {
    width: 16.666666666667%;
  }
  .col_lg_12 .col_lg_3 {
    width: 25%;
  }
  .col_lg_12 .col_lg_4 {
    width: 33.333333333333%;
  }
  .col_lg_12 .col_lg_5 {
    width: 41.666666666667%;
  }
  .col_lg_12 .col_lg_6 {
    width: 50%;
  }
  .col_lg_12 .col_lg_7 {
    width: 58.333333333333%;
  }
  .col_lg_12 .col_lg_8 {
    width: 66.666666666667%;
  }
  .col_lg_12 .col_lg_9 {
    width: 75%;
  }
  .col_lg_12 .col_lg_10 {
    width: 83.333333333333%;
  }
  .col_lg_12 .col_lg_11 {
    width: 91.666666666667%;
  }
  .col_lg_12 .col_lg_12 {
    width: 100%;
  }
}
.gridHint {
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.showGridHint .gridHint {
  display: block;
}
.showGridHint [class^="col_"],
.showGridHint [class*=" col_"] {
  box-shadow: 0 0 2px black inset;
}
.showGridHint .gridHint [class^="col_"],
.showGridHint .gridHint [class*=" col_"] {
  height: 100%;
  background-clip: content-box;
  background-color: rgba(255,0,0,0.5);
  box-shadow: none;
}
body {
  background-color: #fff;
}
.theme {
  background-color: #fff;
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 10px;
  position: relative;
}
.theme .caption {
  color: #000;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
.theme .signature {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
.theme .note {
  background-color: transparent;
  border-left-color: #747474;
  border-left-style: solid;
  border-left-width: 2px;
  color: #000;
  display: block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 2em;
  padding-left: 1em;
}
.theme .button {
  background-color: #019bd4;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-decoration: none;
}
.theme a {
  color: #019bd4;
  text-decoration: none;
}
.theme .left {
  float: left;
}
.theme .right {
  float: right;
}
.theme > header {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.theme > footer {
  border-top: 1px solid #000;
  margin-top: 20px;
  padding: 10px 0;
}
.theme .homerow {
  clear: both;
  border-top: 1px solid #747474;
  padding-top: 20px;
}
.theme .side {
  clear: left;
}
@media screen and (max-width: 979px) {
  .main + .theme .side {
    border-top: 1px solid #747474;
    padding-top: 20px;
  }
}
.theme .sidenav {
  margin-bottom: 0;
}
.theme .sidenav nav > ul {
  margin-bottom: 40px;
}
.theme .logo {
  margin-top: 20px;
  display: block;
  float: left;
}
.theme .logo a {
  color: #000;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.theme .homeHeadline {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .theme .homeHeadline {
    font-size: 40px;
  }
}
.theme .homeDescription {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  margin-bottom: 20px;
}
.theme .homeDescription p {
  margin-bottom: 20px;
}
.theme .homeDescription p:last-child {
  margin-bottom: 0;
}
.theme > footer p {
  margin: 0;
}
.theme > footer a:hover {
  text-decoration: underline;
}
.currentPage {
  font-weight: bold;
  display: none;
  margin-right: 10px;
}
.topmenuToggle {
  background: #019bd4 url(img/icon_menu.png) no-repeat center center;
  border-radius: 3px;
  color: #019bd4;
  display: none;
  margin-top: 20px;
  padding: 0.75em 1.5em;
}
.topmenu {
  float: right;
  font-size: 14px;
  margin-top: 20px;
}
.topmenu ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu li {
  position: relative;
}
.topmenu .level1 > li {
  display: inline-block;
}
.topmenu a {
  color: #019bd4;
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
}
.topmenu a:hover {
  text-decoration: underline;
}
.topmenu .current > a {
  font-weight: bold;
}
.topmenu .selected > a {
  color: #000;
  font-weight: bold;
}
.topmenu .subnodes > a {
  padding-right: 30px;
}
.topmenu .subnodes > a:after {
  content: '\25BC';
  position: absolute;
  right: 5px;
}
.topmenu .level1 ul {
  background-color: #fff;
  border: 1px solid #747474;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  z-index: 10;
}
.topmenu li:hover > ul {
  display: block;
}
.topmenu .level2 ul {
  margin-left: 100%;
  top: 0;
}
.topmenuPopup {
  background-color: #fff;
  border: 1px solid #747474;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.languages {
  display: inline-block;
  margin-left: 20px;
}
.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.languages li {
  display: inline-block;
}
.languages a {
  color: #019bd4;
  display: block;
  padding: 0.5em 0.25em;
  white-space: nowrap;
}
.languages a:hover {
  text-decoration: underline;
}
.languages .current a {
  font-weight: bold;
}
.sidenav nav {
  font-size: 14px;
}
.sidenav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidenav nav ul ul {
  margin-left: 1em;
}
.sidenav nav a {
  color: #019bd4;
  display: block;
  margin-bottom: 10px;
}
.sidenav nav a:hover {
  text-decoration: underline;
}
.sidenav nav .current > a {
  font-weight: bold;
}
.sidenav nav .selected > a {
  color: #000;
  font-weight: bold;
}
.sidenav nav.collapse .level1 ul {
  display: none;
}
.sidenav nav.collapse .current ul,
.sidenav nav.collapse .selected ul {
  display: block;
}
@media screen and (max-width: 479px) {
  .currentPage,
  .topmenuToggle {
    display: inline-block;
  }
  .topmenu {
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .topmenu .level1 ul {
    border: none;
    box-shadow: none;
    margin: 0 10px;
    position: static;
  }
  .topmenu .level1 > li {
    display: list-item;
  }
  .languages {
    border-top: 1px solid #747474;
    display: block;
    margin-left: 0;
  }
  .languages a {
    padding: 0.5em 1em;
  }
}
.searchToggle {
  background: #019bd4 url(img/icon_menu.png) no-repeat center center;
  border-radius: 3px;
  color: #019bd4;
  display: none;
  margin-top: 20px;
  padding: 0.75em 1.5em;
  background-image: url('img/icon_search.png');
  margin-left: 10px;
}
.ipModuleSearch {
  clear: right;
  float: right;
  margin-top: 20px;
}
.ipModuleSearch form,
.ipModuleSearch fieldset,
.ipModuleSearch label {
  border: none;
  margin: 0;
  padding: 0;
}
.ipModuleSearch input,
.ipModuleSearch select,
.ipModuleSearch textarea,
.ipModuleSearch option {
  font-family: 14px;
  font-size: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.ipModuleSearch .ipmPage {
  max-width: 100%;
  overflow: auto;
}
.ipModuleSearch .ipmField {
  margin-bottom: 20px;
  position: relative;
  zoom: 1;
}
.ipModuleSearch .ipmField:before,
.ipModuleSearch .ipmField:after {
  content: '.';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.ipModuleSearch .ipmField:after {
  clear: both;
}
.ipModuleSearch .ipmField:last-child {
  margin-bottom: 0;
}
.ipModuleSearch .ipmType-blank {
  margin: -20px 0 0;
  position: absolute;
}
.ipModuleSearch .ipmLabel {
  display: block;
  font-weight: bold;
  margin: 0 0 3px 0;
  min-height: 1px;
}
.ipModuleSearch .ipmControlBlank {
  height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}
.ipModuleSearch .ipmControlInput {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleSearch .ipmControlInput:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleSearch .ipmControlTextarea {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
  height: 10em;
  overflow: auto;
}
.ipModuleSearch .ipmControlTextarea:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleSearch .ipmControlSelect {
  background-color: #fff;
  border: 1px solid #747474;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #777;
  margin: 0;
  max-width: 380px;
  padding: 0.5em;
  width: 100%;
}
.ipModuleSearch .ipmControlSelect:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}
.ipModuleSearch .ipmType-confirm .ipmControlCheckbox {
  float: left;
}
.ipModuleSearch .ipmControlConfirmOptions {
  margin-left: 25px;
}
.ipModuleSearch .ipmType-captcha .ipmControl img {
  display: block;
  max-width: 100%;
}
.ipModuleSearch .ipmNote {
  color: #333333;
  font-size: 12px;
}
.ipModuleSearch .ipmHint {
  background-color: #747474;
  color: #fff;
  display: none;
  font-size: 12px;
  padding: 4px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 1;
}
.ipModuleSearch .ipmField:hover .ipmHint {
  display: block;
}
.ipModuleSearch .ipmControlSubmit {
  background: #019bd4;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 1em;
}
.ipModuleSearch .ipmControlSubmit:hover {
  box-shadow: 0 0 0 1px #019bd4 inset;
  background: #01516e;
}
.ipModuleSearch .ipmControlError {
  border-color: #b80000;
}
.ipModuleSearch .ipmFileContainer .ipmHiddenInput {
  width: 0;
  height: 0;
  overflow: hidden;
}
.ipModuleSearch .ipmFileContainer .ipmHiddenInput input {
  margin: 0;
  padding: 0;
}
.ipModuleSearch .ipmFileContainer .ipmFile {
  background-color: #a7a7a7;
  margin-top: 5px;
  padding: 0.5em;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmRemove {
  cursor: pointer;
  float: right;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmRemove:before {
  border: 1px solid #747474;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  color: #000;
  content: '\00D7';
  display: inline-block;
  height: 15px;
  line-height: 15px;
  text-align: center;
  width: 15px;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmRemove:hover:before {
  background-color: #000;
  color: #fff;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmFileProgress {
  border: 1px solid #747474;
  height: 3px;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmFileProgressValue {
  background-color: #747474;
  height: 3px;
}
.ipModuleSearch .ipmFileContainer .ipmFile .ipmUploadError {
  color: #b80000;
  font-size: 12px;
}
.ipModuleSearch .ipmPage {
  overflow: visible;
}
.ipModuleSearch .ipmField {
  float: left;
  margin-bottom: 0;
}
.ipModuleSearch .ipmLabel {
  display: none;
}
.ipModuleSearch .ipmControlInput {
  width: 160px;
}
.ipModuleSearch .ipmControlSubmit {
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  .searchToggle {
    display: inline-block;
  }
  .ipModuleSearch {
    background-color: #fff;
    border: 1px solid #747474;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
  }
}
.ipWidget-IpFile li {
  background: url(img/icon_download.gif) no-repeat left center;
  margin-bottom: 4px;
  padding-left: 25px;
}
.side .ipWidget-IpImageGallery li,
.side .ipWidget-IpLogoGallery li {
  width: 100% / ;
}
